USE [DBAdmin]
GO
/****** Object:  StoredProcedure [maint].[scs_backupinfo]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [maint].[scs_backupinfo]
AS
BEGIN
	SET NOCOUNT ON;

		/*This script will grab the most recent log backup for all databases
	on the server and info about the backup.  For SQL Server 2005 and up.
	No need to edit any part.*/

	SELECT  
	   S.name AS DBName,  
	   S.recovery_model_desc,
		CASE A.type 
				WHEN 'D' THEN 'Database' 
				WHEN 'L' THEN 'Log' 
		END AS 'Backup Type',
	   A.last_db_backup_date,  
	   B.backup_start_date,
	   B.backup_in_min,
	   CAST(((B.backup_size)* 0.00000095367432) 
			AS DECIMAL(15,2)) as 'backup_size_in_MB',  
	   B.physical_device_name,   
	   B.backupset_name, 
	   B.description
	FROM sys.databases S LEFT JOIN
	   (( 
	   SELECT   
		   CONVERT(CHAR(100), SERVERPROPERTY('Servername')) AS Server, 
		   msdb.dbo.backupset.database_name,  
		   MAX(msdb.dbo.backupset.backup_finish_date) AS last_db_backup_date ,
		   msdb.dbo.backupset.type,
		   recovery_model AS recovery_model
	   FROM    msdb.dbo.backupmediafamily  
		   INNER JOIN msdb.dbo.backupset ON msdb.dbo.backupmediafamily.media_set_id = msdb.dbo.backupset.media_set_id 
			--gets both log backups and database backups
	   WHERE   msdb..backupset.type = 'L' OR msdb..backupset.type = 'D'
	   GROUP BY 
		   msdb.dbo.backupset.database_name, recovery_model, type  
	   ) AS A 
		
	   LEFT JOIN  

	   ( 
	   SELECT   
	   CONVERT(CHAR(100), SERVERPROPERTY('Servername')) AS Server, 
	   msdb.dbo.backupset.database_name,  
	   msdb.dbo.backupset.backup_start_date,  
	   msdb.dbo.backupset.backup_finish_date,
	   DATEDIFF(minute,msdb.dbo.backupset.backup_start_date,msdb.dbo.backupset.backup_finish_date) AS 'backup_in_min',
	   msdb.dbo.backupset.backup_size,  
	   msdb.dbo.backupmediafamily.physical_device_name,   
	   msdb.dbo.backupset.name AS backupset_name, 
	   msdb.dbo.backupset.description 
	FROM   msdb.dbo.backupmediafamily  
	   INNER JOIN msdb.dbo.backupset ON msdb.dbo.backupmediafamily.media_set_id = msdb.dbo.backupset.media_set_id  
	WHERE  msdb..backupset.type = 'L' OR msdb..backupset.type = 'D'
	   ) AS B 
	   ON A.[Server] = B.[Server] AND A.[database_name] = B.[database_name] AND A.[last_db_backup_date] = B.[backup_finish_date])
	   ON S.name = A.database_name
	ORDER BY  
	   A.database_name 
END





GO  
