USE [DBAdmin]
GO
/****** Object:  StoredProcedure [maint].[scs_insertSQLIndexOptions]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [maint].[scs_insertSQLIndexOptions]
as
BEGIN
insert into dbadmin.maint.scs_SQLIndexOptions (databases) select a.name from dbadmin.scs.scs_vw_User_DBs a
left join dbadmin.maint.scs_sqlIndexOptions b on a.name = b.databases
where databases is null

update dbadmin.maint.scs_SQLIndexOptions set stoptimestamp = getdate()

from dbadmin.scs.scs_vw_User_DBs a
right join dbadmin.maint.scs_sqlIndexOptions b on a.name = b.databases
where a.name is null
end

GO
