USE [DBAdmin]
GO
/****** Object:  Table [maint].[scs_Exclusions]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [maint].[scs_Exclusions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DBName] [nvarchar](50) NOT NULL,
	[FULLBackup] [bit] NULL,
	[DIFFBackup] [bit] NULL,
	[LOGBackup] [bit] NULL,
	[AlwaysOn] [bit] NULL,
	[ReIndex] [bit] NULL
) ON [PRIMARY]

GO
