USE [DBAdmin]
GO
/****** Object:  Table [maint].[scs_SQLIndexOptions]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [maint].[scs_SQLIndexOptions](
	[scs_SQLIndexOptions_ID] [int] IDENTITY(1,1) NOT NULL,
	[Databases] [nvarchar](max) NULL,
	[FragmentationLow] [nvarchar](max) NULL,
	[FragmentationMedium] [nvarchar](max) NULL,
	[FragmentationHigh] [nvarchar](max) NULL,
	[FragmentationLevel1] [int] NULL,
	[FragmentationLevel2] [int] NULL,
	[PageCountLevel] [int] NULL,
	[SortInTempdb] [char](1) NULL,
	[MaxDOP] [int] NULL,
	[FillFactor] [int] NULL,
	[PadIndex] [nvarchar](max) NULL,
	[LOBCompaction] [nvarchar](max) NULL,
	[UpdateStatistics] [nvarchar](max) NULL,
	[OnlyModifiedStatistics] [nvarchar](max) NULL,
	[StatisticsSample] [int] NULL,
	[StatisticsResample] [nvarchar](max) NULL,
	[PartitionLevel] [nvarchar](max) NULL,
	[MSShippedObjects] [nvarchar](max) NULL,
	[Indexes] [nvarchar](max) NULL,
	[TimeLimit] [int] NULL,
	[Delay] [int] NULL,
	[WaitAtLowPriorityMaxDuration] [int] NULL,
	[WaitAtLowPriorityAbortAfterWait] [nvarchar](max) NULL,
	[LockTimeout] [int] NULL,
	[LogToTable] [nvarchar](max) NULL,
	[Execute] [nvarchar](max) NULL,
	[starttimestamp] [datetime] NULL,
	[stoptimestamp] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [FragmentationLow]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('INDEX_REORGANIZE,INDEX_REBUILD_ONLINE') FOR [FragmentationMedium]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('INDEX_REBUILD_ONLINE') FOR [FragmentationHigh]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ((30)) FOR [FragmentationLevel1]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ((50)) FOR [FragmentationLevel2]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ((1000)) FOR [PageCountLevel]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('N') FOR [SortInTempdb]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [MaxDOP]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [FillFactor]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [PadIndex]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('Y') FOR [LOBCompaction]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [UpdateStatistics]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('N') FOR [OnlyModifiedStatistics]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [StatisticsSample]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('N') FOR [StatisticsResample]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('Y') FOR [PartitionLevel]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('N') FOR [MSShippedObjects]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [Indexes]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [TimeLimit]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [Delay]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [WaitAtLowPriorityMaxDuration]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (NULL) FOR [WaitAtLowPriorityAbortAfterWait]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('Y') FOR [LogToTable]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('Y') FOR [Execute]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT (getdate()) FOR [starttimestamp]
GO
ALTER TABLE [maint].[scs_SQLIndexOptions] ADD  DEFAULT ('1753-01-01 00:00:00.000') FOR [stoptimestamp]
GO
