USE [DBAdmin]
GO
/****** Object:  StoredProcedure [maint].[scs_updateSQLIndexOptions]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [maint].[scs_updateSQLIndexOptions]
@Databases nvarchar(max) = NULL,
@FragmentationLow nvarchar(max) =  NULL,
@FragmentationMedium nvarchar(max) = NULL,
@FragmentationHigh nvarchar(max) = NULL,
@FragmentationLevel1 int = NULL,
@FragmentationLevel2 int = NULL,
@PageCountLevel int = NULL,
@SortInTempdb CHAR(1) = NULL,
@MaxDOP int = NULL,
@FillFactor int = NULL,
@PadIndex nvarchar(max) = NULL,
@LOBCompaction nvarchar(max) = NULL,
@UpdateStatistics nvarchar(max) = NULL,
@OnlyModifiedStatistics nvarchar(max) = NULL,
@StatisticsSample int = NULL,
@StatisticsResample nvarchar(max) = NULL,
@PartitionLevel nvarchar(max) = NULL,
@MSShippedObjects nvarchar(max) = NULL,
@Indexes nvarchar(max) = NULL,
@TimeLimit int = NULL,
@Delay int = NULL,
@WaitAtLowPriorityMaxDuration int = NULL,
@WaitAtLowPriorityAbortAfterWait nvarchar(max) = NULL,
@LockTimeout INT  = NULL,
@LogToTable nvarchar(max) = NULL,
@Execute nvarchar(max) = NULL,
@scs_Execute nvarchar(max) = NULL
AS
	SET NOCOUNT ON;
BEGIN
IF @scs_Execute IS NULL 
	BEGIN
	SET @scs_Execute = 'N'
	END
IF @scs_Execute = 'N'
   BEGIN
   PRINT 'Execution is Suppressed, INDEX MAINT will not wun'
   END

   /* declaring variables that can be used to run the stored procedure */
DECLARE @runDatabases nvarchar(max) = NULL
DECLARE @RunFragmentationLow nvarchar(max) =  NULL
DECLARE @RunFragmentationMedium nvarchar(max) = NULL
DECLARE @RunFragmentationHigh nvarchar(max) = NULL
DECLARE @RunFragmentationLevel1 int = NULL
DECLARE @RunFragmentationLevel2 int = NULL
DECLARE @RunPageCountLevel int = NULL
DECLARE @RunSortInTempdb CHAR(1) = NULL
DECLARE @RunMaxDOP int = NULL
DECLARE @RunFillFactor int = NULL
DECLARE @RunPadIndex nvarchar(max) = NULL
DECLARE @RunLOBCompaction nvarchar(max) = NULL
DECLARE @RunUpdateStatistics nvarchar(max) = NULL
DECLARE @RunOnlyModifiedStatistics nvarchar(max) = NULL
DECLARE @RunStatisticsSample int = NULL
DECLARE @RunStatisticsResample nvarchar(max) = NULL
DECLARE @RunPartitionLevel nvarchar(max) = NULL
DECLARE @RunMSShippedObjects nvarchar(max) = NULL
DECLARE @RunIndexes nvarchar(max) = NULL
DECLARE @RunTimeLimit int = NULL
DECLARE @RunDelay int = NULL
DECLARE @RunWaitAtLowPriorityMaxDuration int = NULL
DECLARE @RunWaitAtLowPriorityAbortAfterWait nvarchar(max) = NULL
DECLARE @RunLockTimeout INT = NULL
DECLARE @RunLogToTable nvarchar(max) = NULL
DECLARE @RunExecute nvarchar(max) = NULL


IF @Databases IS NOT NULL
   BEGIN
    SELECT	@runDatabases						= IX.[Databases],  
			@RunFragmentationLow				= IX.FragmentationLow,
			@RunFragmentationMedium				= IX.FragmentationMedium,
			@RunFragmentationHigh				= IX.FragmentationHigh,
			@RunFragmentationLevel1				= IX.FragmentationLevel1, 
			@RunFragmentationLevel2				= IX.FragmentationLevel2,
			@RunPageCountLevel					= IX.PageCountLevel,
			@RunSortInTempdb					= IX.SortInTempdb, 
			@RunMaxDOP							= IX.[MaxDOP],
			@RunFillFactor						= IX.[FillFactor],
			@RunPadIndex						= IX.PadIndex,
			@RunLOBCompaction					= IX.LOBCompaction,
			@RunUpdateStatistics				= IX.UpdateStatistics,
			@RunOnlyModifiedStatistics			= IX.OnlyModifiedStatistics,
			@RunStatisticsSample				= IX.StatisticsSample,
			@RunStatisticsResample				= IX.StatisticsResample,
			@RunPartitionLevel					= IX.PartitionLevel,
			@RunMSShippedObjects				= IX.MSShippedObjects,
			@RunIndexes							= IX.Indexes, 
			@RunTimeLimit						= IX.TimeLimit,
			@RunDelay							= IX.Delay,
			@RunWaitAtLowPriorityMaxDuration	= IX.WaitAtLowPriorityMaxDuration,
			@RunWaitAtLowPriorityAbortAfterWait = IX.WaitAtLowPriorityAbortAfterWait,
			@RunLockTimeout						= IX.LockTimeout,
			@RunLogToTable						= IX.LogToTable,
			@RunExecute							= IX.[Execute] 
from maint.scs_SQLIndexOptions IX
     WHERE [IX].[Databases] = @Databases AND stoptimestamp = '1753-01-01 00:00:00.000'

IF @Databases						IS NOT NULL SET @runDatabases						= @Databases
IF @FragmentationLow				IS NOT NULL SET @RunFragmentationLow				= @FragmentationLow
IF @FragmentationMedium				IS NOT NULL SET @RunFragmentationMedium				= @FragmentationMedium
IF @FragmentationHigh				IS NOT NULL SET @RunFragmentationHigh				= @FragmentationHigh
IF @FragmentationLevel1				IS NOT NULL SET @RunFragmentationLevel1				= @FragmentationLevel1
IF @FragmentationLevel2				IS NOT NULL SET @RunFragmentationLevel2				= @FragmentationLevel2
IF @PageCountLevel					IS NOT NULL SET @RunPageCountLevel					= @PageCountLevel
IF @SortInTempdb					IS NOT NULL SET @RunSortInTempdb					= @SortInTempdb
IF @MaxDOP							IS NOT NULL SET @RunMaxDOP							= @MaxDOP 
IF @FillFactor						IS NOT NULL SET @RunFillFactor						= @FillFactor
IF @PadIndex						IS NOT NULL SET	@RunPadIndex						= @PadIndex
IF @LOBCompaction					IS NOT NULL SET @RunLOBCompaction					= @LOBCompaction
IF @UpdateStatistics				IS NOT NULL SET @RunUpdateStatistics				= @UpdateStatistics
IF @OnlyModifiedStatistics			IS NOT NULL SET @RunOnlyModifiedStatistics			= @OnlyModifiedStatistics
IF @StatisticsSample				IS NOT NULL SET @RunStatisticsSample				= @StatisticsSample
IF @StatisticsResample				IS NOT NULL SET @RunStatisticsResample				= @StatisticsResample
IF @PartitionLevel					IS NOT NULL	SET @RunPartitionLevel					= @PartitionLevel
IF @MSShippedObjects				IS NOT NULL SET @RunMSShippedObjects				= @MSShippedObjects
IF @Indexes							IS NOT NULL SET @RunIndexes							= @Indexes
IF @TimeLimit						IS NOT NULL SET @RunTimeLimit						= @TimeLimit
IF @Delay							IS NOT NULL SET @RunDelay							= @Delay
IF @WaitAtLowPriorityMaxDuration	IS NOT NULL SET @RunWaitAtLowPriorityMaxDuration	= @WaitAtLowPriorityMaxDuration
IF @WaitAtLowPriorityAbortAfterWait	IS NOT NULL SET @RunWaitAtLowPriorityAbortAfterWait = @WaitAtLowPriorityAbortAfterWait
IF @LockTimeout						IS NOT NULL SET @RunLockTimeout						= @LockTimeout
IF @LogToTable						IS NOT NULL SET @RunLogToTable						= @LogToTable
IF @Execute							IS NOT NULL SET @RunExecute							= @Execute						

	IF @scs_Execute = 'Y' 
	   BEGIN
	   UPDATE maint.scs_SQLIndexOptions SET stoptimestamp = GETDATE() WHERE [Databases] = @runDatabases
	   
	   INSERT INTO maint.scs_SQLIndexOptions 
	        ([Databases]
           ,[FragmentationLow]
           ,[FragmentationMedium]
           ,[FragmentationHigh]
           ,[FragmentationLevel1]
           ,[FragmentationLevel2]
           ,[PageCountLevel]
           ,[SortInTempdb]
           ,[MaxDOP]
           ,[FillFactor]
           ,[PadIndex]
           ,[LOBCompaction]
           ,[UpdateStatistics]
           ,[OnlyModifiedStatistics]
           ,[StatisticsSample]
           ,[StatisticsResample]
           ,[PartitionLevel]
           ,[MSShippedObjects]
           ,[Indexes]
           ,[TimeLimit]
           ,[Delay]
           ,[WaitAtLowPriorityMaxDuration]
           ,[WaitAtLowPriorityAbortAfterWait]
           ,[LockTimeout]
           ,[LogToTable]
           ,[Execute]
		   )
     VALUES
	       ( @runDatabases
			,@RunFragmentationLow
			,@RunFragmentationMedium
			,@RunFragmentationHigh
			,@RunFragmentationLevel1
			,@RunFragmentationLevel2
			,@RunPageCountLevel
			,@RunSortInTempdb
			,@RunMaxDOP
			,@RunFillFactor
			,@RunPadIndex
			,@RunLOBCompaction
			,@RunUpdateStatistics
			,@RunOnlyModifiedStatistics
			,@RunStatisticsSample
			,@RunStatisticsResample
			,@RunPartitionLevel
			,@RunMSShippedObjects
			,@RunIndexes
			,@RunTimeLimit
			,@RunDelay
			,@RunWaitAtLowPriorityMaxDuration
			,@RunWaitAtLowPriorityAbortAfterWait
			,@RunLockTimeout
			,@RunLogToTable
			,@RunExecute
			)
END

ELSE 
BEGIN
    PRINT 
'update UPDATE maint.scs_SQLIndexOptions SET stoptimestamp = GETDATE() WHERE [Databases] = ''' + @runDatabases + '''
insert into maint.scs_SQLIndexOptions
	    @Databases = ' + ISNULL(@runDatabases,'NULL')						
	+ ',@FragmentationLow = ' + ISNULL(@RunFragmentationLow,'NULL')
	+ ',@FragmentationMedium = ' + ISNULL(@RunFragmentationMedium,'NULL')				
	+ ',@FragmentationHigh = ' + ISNULL(@RunFragmentationHigh,'NULL')
	+ ',@FragmentationLevel1 = ' + ISNULL(CONVERT(varchar(10),@RunFragmentationLevel1),'NULL')				
	+ ',@FragmentationLevel2 = ' + ISNULL(CONVERT(varchar(10),@RunFragmentationLevel2),'NULL')			
	+ ',@PageCountLevel = ' + ISNULL(CONVERT(varchar(10),@RunPageCountLevel),'NULL')					
	+ ',@SortInTempdb = ' + ISNULL(@RunSortInTempdb,'NULL')					
	+ ',@MaxDOP = ' + ISNULL(CONVERT(varchar(10),@RunMaxDOP),'NULL')							
	+ ',@FillFactor = ' + ISNULL(CONVERT(varchar(10),@RunFillFactor),'NULL')						
	+ ',@PadIndex = ' + ISNULL(@RunPadIndex,'NULL')						
	+ ',@LOBCompaction = ' + ISNULL(@RunLOBCompaction,'NULL')					
	+ ',@UpdateStatistics = ' + ISNULL(@RunUpdateStatistics,'NULL')				
	+ ',@OnlyModifiedStatistics = ' + ISNULL(@RunOnlyModifiedStatistics,'NULL')			
	+ ',@StatisticsSample = ' + ISNULL(CONVERT(varchar(10),@RunStatisticsSample),'NULL')			
	+ ',@StatisticsResample = ' + ISNULL(@RunStatisticsResample,'NULL')				
	+ ',@PartitionLevel = ' + ISNULL(@RunPartitionLevel,'NULL')					
	+ ',@MSShippedObjects = ' + ISNULL(@RunMSShippedObjects,'NULL')				
	+ ',@Indexes = ' + ISNULL(@RunIndexes,'NULL')							
	+ ',@TimeLimit = ' + ISNULL(CONVERT(varchar(10),@RunTimeLimit),'NULL')							
	+ ',@Delay = ' + ISNULL(CONVERT(varchar(10),@RunDelay),'NULL')							
	+ ',@WaitAtLowPriorityMaxDuration = ' + ISNULL(CONVERT(varchar(10),@RunWaitAtLowPriorityMaxDuration),'NULL')	
	+ ',@WaitAtLowPriorityAbortAfterWait = ' + ISNULL(@RunWaitAtLowPriorityAbortAfterWait,'NULL')
	+ ',@LockTimeout = ' + ISNULL(CONVERT(varchar(10),@RunLockTimeout),'NULL')						
	+ ',@LogToTable = ' + ISNULL(@RunLogToTable,'NULL')						
	+ ',@Execute = ' + ISNULL(@RunExecute,'NULL')	
	END 
END
ELSE 
BEGIN	
DECLARE @Loopcounter		INT
DECLARE @maxID				INT 
SELECT @Loopcounter = min(scs_SQLIndexOptions_ID), @maxID = max(scs_SQLIndexOptions_ID) from maint.scs_SQLIndexOptions
WHILE (@Loopcounter IS NOT NULL and @Loopcounter <= @maxID)
	BEGIN 
IF OBJECT_ID ('TEMPDB..#IXRESULTS') IS NOT NULL
   BEGIN
   DROP TABLE #IXRESULTS
   END
SELECT * into #IXRESULTS 			FROM maint.scs_SQLIndexOptions IX
		LEFT JOIN 
			(SELECT x.DBName 
				FROM maint.scs_Exclusions x 
			WHERE x.ReIndex <> 0) EX ON IX.Databases = EX.DBName
			WHERE EX.DBName IS NULL
			AND IX.stoptimestamp = '1753-01-01 00:00:00.000'

SELECT		@runDatabases						= IX.[Databases], 
			@RunFragmentationLow				= IX.FragmentationLow,
			@RunFragmentationMedium				= IX.FragmentationMedium,
			@RunFragmentationHigh				= IX.FragmentationHigh,
			@RunFragmentationLevel1				= IX.FragmentationLevel1, 
			@RunFragmentationLevel2				= IX.FragmentationLevel2,
			@RunPageCountLevel					= IX.PageCountLevel,
			@RunSortInTempdb					= IX.SortInTempdb, 
			@RunMaxDOP							= IX.[MaxDOP],
			@RunFillFactor						= IX.[FillFactor],
			@RunPadIndex						= IX.PadIndex,
			@RunLOBCompaction					= IX.LOBCompaction,
			@RunUpdateStatistics				= IX.UpdateStatistics,
			@RunOnlyModifiedStatistics			= IX.OnlyModifiedStatistics,
			@RunStatisticsSample				= IX.StatisticsSample,
			@RunStatisticsResample				= IX.StatisticsResample,
			@RunPartitionLevel					= IX.PartitionLevel,
			@RunMSShippedObjects				= IX.MSShippedObjects,
			@RunIndexes							= IX.Indexes, 
			@RunTimeLimit						= IX.TimeLimit,
			@RunDelay							= IX.Delay,
			@RunWaitAtLowPriorityMaxDuration	= IX.WaitAtLowPriorityMaxDuration,
			@RunWaitAtLowPriorityAbortAfterWait = IX.WaitAtLowPriorityAbortAfterWait,
			@RunLockTimeout						= IX.LockTimeout,
			@RunLogToTable						= IX.LogToTable,
			@RunExecute							= IX.[Execute] 
FROM #IXRESULTS IX
WHERE IX.scs_SQLIndexOptions_ID = @Loopcounter

SELECT @Loopcounter = min(scs_SQLIndexOptions_ID) from #IXRESULTS
		where scs_SQLIndexOptions_ID > @Loopcounter


IF @Databases						<> @runDatabases						SET @runDatabases						= @Databases
IF @FragmentationLow				<> @RunFragmentationLow					SET @RunFragmentationLow				= @FragmentationLow
IF @FragmentationMedium				<> @RunFragmentationMedium				SET @RunFragmentationMedium				= @FragmentationMedium
IF @FragmentationHigh				<> @RunFragmentationHigh				SET @RunFragmentationHigh				= @FragmentationHigh
IF @FragmentationLevel1				<> @RunFragmentationLevel1				SET @RunFragmentationLevel1				= @FragmentationLevel1
IF @FragmentationLevel2				<> @RunFragmentationLevel2				SET @RunFragmentationLevel2				= @FragmentationLevel2
IF @PageCountLevel					<> @RunPageCountLevel					SET @RunPageCountLevel					= @PageCountLevel
IF @SortInTempdb					<> @RunSortInTempdb						SET @RunSortInTempdb					= @SortInTempdb
IF @MaxDOP							<> @RunMaxDOP							SET @RunMaxDOP							= @MaxDOP 
IF @FillFactor						<> @RunFillFactor						SET @RunFillFactor						= @FillFactor
IF @PadIndex						<> @RunPadIndex							SET @RunPadIndex						= @PadIndex
IF @LOBCompaction					<> @RunLOBCompaction					SET @RunLOBCompaction					= @LOBCompaction
IF @UpdateStatistics				<> @RunUpdateStatistics					SET @RunUpdateStatistics				= @UpdateStatistics
IF @OnlyModifiedStatistics			<> @RunOnlyModifiedStatistics			SET @RunOnlyModifiedStatistics			= @OnlyModifiedStatistics
IF @StatisticsSample				<> @RunStatisticsSample					SET @RunStatisticsSample				= @StatisticsSample
IF @StatisticsResample				<> @RunStatisticsResample				SET @RunStatisticsResample				= @StatisticsResample
IF @PartitionLevel					<> @RunPartitionLevel					SET @RunPartitionLevel					= @PartitionLevel
IF @MSShippedObjects				<> @RunMSShippedObjects					SET @RunMSShippedObjects				= @MSShippedObjects
IF @Indexes							<> @RunIndexes							SET @RunIndexes							= @Indexes
IF @TimeLimit						<> @RunTimeLimit						SET @RunTimeLimit						= @TimeLimit
IF @Delay							<> @RunDelay							SET @RunDelay							= @Delay
IF @WaitAtLowPriorityMaxDuration	<> @RunWaitAtLowPriorityMaxDuration		SET @RunWaitAtLowPriorityMaxDuration	= @WaitAtLowPriorityMaxDuration
IF @WaitAtLowPriorityAbortAfterWait	<> @RunWaitAtLowPriorityAbortAfterWait	SET @RunWaitAtLowPriorityAbortAfterWait = @WaitAtLowPriorityAbortAfterWait
IF @LockTimeout						<> @RunLockTimeout						SET @RunLockTimeout						= @LockTimeout
IF @LogToTable						<> @RunLogToTable						SET @RunLogToTable						= @LogToTable
IF @Execute							<> @RunExecute							SET @RunExecute							= @Execute
   
	
IF @scs_Execute = 'Y' 
	   BEGIN
	   IF @runDatabases IS NOT NULL
	   BEGIN
	   UPDATE maint.scs_SQLIndexOptions SET stoptimestamp = GETDATE() WHERE [Databases] = @runDatabases
	   
	   INSERT INTO maint.scs_SQLIndexOptions 
	        ([Databases]
           ,[FragmentationLow]
           ,[FragmentationMedium]
           ,[FragmentationHigh]
           ,[FragmentationLevel1]
           ,[FragmentationLevel2]
           ,[PageCountLevel]
           ,[SortInTempdb]
           ,[MaxDOP]
           ,[FillFactor]
           ,[PadIndex]
           ,[LOBCompaction]
           ,[UpdateStatistics]
           ,[OnlyModifiedStatistics]
           ,[StatisticsSample]
           ,[StatisticsResample]
           ,[PartitionLevel]
           ,[MSShippedObjects]
           ,[Indexes]
           ,[TimeLimit]
           ,[Delay]
           ,[WaitAtLowPriorityMaxDuration]
           ,[WaitAtLowPriorityAbortAfterWait]
           ,[LockTimeout]
           ,[LogToTable]
           ,[Execute]
		   )
     VALUES
	       ( @runDatabases
			,@RunFragmentationLow
			,@RunFragmentationMedium
			,@RunFragmentationHigh
			,@RunFragmentationLevel1
			,@RunFragmentationLevel2
			,@RunPageCountLevel
			,@RunSortInTempdb
			,@RunMaxDOP
			,@RunFillFactor
			,@RunPadIndex
			,@RunLOBCompaction
			,@RunUpdateStatistics
			,@RunOnlyModifiedStatistics
			,@RunStatisticsSample
			,@RunStatisticsResample
			,@RunPartitionLevel
			,@RunMSShippedObjects
			,@RunIndexes
			,@RunTimeLimit
			,@RunDelay
			,@RunWaitAtLowPriorityMaxDuration
			,@RunWaitAtLowPriorityAbortAfterWait
			,@RunLockTimeout
			,@RunLogToTable
			,@RunExecute
			)
			END
END
ELSE 
BEGIN
    PRINT 
'update UPDATE maint.scs_SQLIndexOptions SET stoptimestamp = GETDATE() WHERE [Databases] = ''' + @runDatabases + '''
insert into maint.scs_SQLIndexOptions
	    @Databases = ' + ISNULL(@runDatabases,'NULL')						
	+ ',@FragmentationLow = ' + ISNULL(@RunFragmentationLow,'NULL')
	+ ',@FragmentationMedium = ' + ISNULL(@RunFragmentationMedium,'NULL')				
	+ ',@FragmentationHigh = ' + ISNULL(@RunFragmentationHigh,'NULL')
	+ ',@FragmentationLevel1 = ' + ISNULL(CONVERT(varchar(10),@RunFragmentationLevel1),'NULL')				
	+ ',@FragmentationLevel2 = ' + ISNULL(CONVERT(varchar(10),@RunFragmentationLevel2),'NULL')			
	+ ',@PageCountLevel = ' + ISNULL(CONVERT(varchar(10),@RunPageCountLevel),'NULL')					
	+ ',@SortInTempdb = ' + ISNULL(@RunSortInTempdb,'NULL')					
	+ ',@MaxDOP = ' + ISNULL(CONVERT(varchar(10),@RunMaxDOP),'NULL')							
	+ ',@FillFactor = ' + ISNULL(CONVERT(varchar(10),@RunFillFactor),'NULL')						
	+ ',@PadIndex = ' + ISNULL(@RunPadIndex,'NULL')						
	+ ',@LOBCompaction = ' + ISNULL(@RunLOBCompaction,'NULL')					
	+ ',@UpdateStatistics = ' + ISNULL(@RunUpdateStatistics,'NULL')				
	+ ',@OnlyModifiedStatistics = ' + ISNULL(@RunOnlyModifiedStatistics,'NULL')			
	+ ',@StatisticsSample = ' + ISNULL(CONVERT(varchar(10),@RunStatisticsSample),'NULL')			
	+ ',@StatisticsResample = ' + ISNULL(@RunStatisticsResample,'NULL')				
	+ ',@PartitionLevel = ' + ISNULL(@RunPartitionLevel,'NULL')					
	+ ',@MSShippedObjects = ' + ISNULL(@RunMSShippedObjects,'NULL')				
	+ ',@Indexes = ' + ISNULL(@RunIndexes,'NULL')							
	+ ',@TimeLimit = ' + ISNULL(CONVERT(varchar(10),@RunTimeLimit),'NULL')							
	+ ',@Delay = ' + ISNULL(CONVERT(varchar(10),@RunDelay),'NULL')							
	+ ',@WaitAtLowPriorityMaxDuration = ' + ISNULL(CONVERT(varchar(10),@RunWaitAtLowPriorityMaxDuration),'NULL')	
	+ ',@WaitAtLowPriorityAbortAfterWait = ' + ISNULL(@RunWaitAtLowPriorityAbortAfterWait,'NULL')
	+ ',@LockTimeout = ' + ISNULL(CONVERT(varchar(10),@RunLockTimeout),'NULL')						
	+ ',@LogToTable = ' + ISNULL(@RunLogToTable,'NULL')						
	+ ',@Execute = ' + ISNULL(@RunExecute,'NULL')	
	END 

end
end
end


GO
