USE [DBAdmin]
GO
/****** Object:  StoredProcedure [maint].[scs_UpdateStatsOla]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [maint].[scs_UpdateStatsOla]

AS
BEGIN

	SET NOCOUNT ON;

    EXECUTE [ola].[IndexOptimize]
		@Databases = 'USER_DATABASES' ,
		@FragmentationLow = NULL ,
		@FragmentationMedium = NULL ,
		@FragmentationHigh = NULL ,
		@UpdateStatistics = 'ALL' ,
		@OnlyModifiedStatistics = N'Y' ,
		@LogToTable = N'Y';
END




GO
