USE [DBAdmin]
GO
/****** Object:  Table [scs].[AGLoginSyncReport]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [scs].[AGLoginSyncReport](
	[ServerName] [nvarchar](128) NULL,
	[Login_Name] [nvarchar](128) NULL,
	[Account_Type] [nvarchar](60) NULL
) ON [PRIMARY]

GO
