USE [DBAdmin]
GO
/****** Object:  StoredProcedure [scs].[scs_DBInfo]    Script Date: 2/17/2017 2:40:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [scs].[scs_DBInfo]
AS
BEGIN

	SET NOCOUNT ON;
	SELECT CONVERT(VARCHAR(25), DB.name) AS dbName,
	CONVERT(VARCHAR(10), DATABASEPROPERTYEX(name, 'status')) AS [Status],
	(SELECT COUNT(1) FROM sys.master_files WHERE DB_NAME(database_id) = DB.name AND type_desc = 'rows') AS DataFiles,
	(SELECT COUNT(1) FROM sys.master_files WHERE DB_NAME(database_id) = DB.name AND type_desc = 'log') AS LogFiles,
	(SELECT SUM((size*8)/1024) FROM sys.master_files WHERE DB_NAME(database_id) = DB.name AND type_desc = 'rows') AS [Data MB],
	(SELECT SUM((size*8)/1024) FROM sys.master_files WHERE DB_NAME(database_id) = DB.name AND type_desc = 'log') AS [Log MB],
	recovery_model_desc AS [Recovery model],
	CONVERT(VARCHAR(20), create_date, 103) + ' ' + CONVERT(VARCHAR(20), create_date, 108) AS [Creation date],
	GETDATE() AS 'Date Data Collected'
	FROM sys.databases DB
	ORDER BY dbName, NAME
END




GO
