USE [DBAdmin]
GO
/****** Object:  UserDefinedFunction [scs].[scs_fn_getuser]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [scs].[scs_fn_getuser]
(
)
RETURNS sysname
AS 
BEGIN
DECLARE @CURRENTUSER SYSNAME
DECLARE @RETURNCURRENTUSER SYSNAME
SET @CURRENTUSER = (SELECT SYSTEM_USER)

 SET @RETURNCURRENTUSER = @CURRENTUSER

RETURN @RETURNCURRENTUSER
END

GO
