USE [DBAdmin]
GO
/****** Object:  Table [scs].[scs_OwnerAudit]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [scs].[scs_OwnerAudit](
	[Name] [nvarchar](250) NOT NULL,
	[Owner] [nvarchar](250) NULL,
	[Type] [nchar](10) NULL,
	[CompatibilityLevel] [int] NULL
) ON [PRIMARY]

GO
