USE [DBAdmin]
GO

/****** Object:  StoredProcedure [scs].[scs_OwnerAuditSP]    Script Date: 11/19/2018 12:09:17 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[scs].[scs_OwnerAuditSP]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [scs].[scs_OwnerAuditSP] AS' 
END
GO



ALTER PROCEDURE [scs].[scs_OwnerAuditSP]
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @Profile NVARCHAR(50)
DECLARE @body NVARCHAR(MAX)
DECLARE @query nvarchar(max)
DECLARE @results nvarchar(max)
DECLARE @results2 nvarchar(max)
DECLARE @body2 NVARCHAR(MAX)
DECLARE @query2 nvarchar(max)

	SET @Profile = (select sp.name from msdb.dbo.sysmail_profile sp WHERE name LIKE (SELECT @@SERVERNAME))

	INSERT INTO scs.scs_ownerAudit (Name, Owner, Type) 
	SELECT name AS Name, SUSER_SNAME(owner_sid) AS Owner, 'Job' AS Type FROM [msdb].[dbo].[sysjobs] WHERE SUSER_SNAME(owner_sid) NOT IN ('sa', '##MS_SSISServerCleanupJobLogin##', 'scs\sentryone_svc')

	INSERT INTO scs.scs_ownerAudit (Name, Owner, Type)
	SELECT name AS Name, SUSER_SNAME(sid) AS Owner, 'Database' AS Type FROM sys.sysdatabases WHERE SUSER_SNAME(sid) NOT IN ('sa')
	DELETE FROM scs.scs_OwnerAudit WHERE name IN (SELECT name FROM sys.databases WHERE state_desc = 'Offline')
	DELETE FROM scs.scs_OwnerAudit WHERE name IN (SELECT name FROM sys.databases WHERE state_desc = 'Restoring')
	DELETE FROM scs.scs_OwnerAudit WHERE name IN (
		SELECT DISTINCT
			dbcs.database_name AS [DatabaseName]
			FROM master.sys.availability_groups AS AG
			LEFT OUTER JOIN master.sys.dm_hadr_availability_group_states as agstates
			   ON AG.group_id = agstates.group_id
			INNER JOIN master.sys.availability_replicas AS AR
			   ON AG.group_id = AR.group_id
			INNER JOIN master.sys.dm_hadr_availability_replica_states AS arstates
			   ON AR.replica_id = arstates.replica_id AND arstates.is_local = 1
			INNER JOIN master.sys.dm_hadr_database_replica_cluster_states AS dbcs
			   ON arstates.replica_id = dbcs.replica_id
			LEFT OUTER JOIN master.sys.dm_hadr_database_replica_states AS dbrs
			   ON dbcs.replica_id = dbrs.replica_id AND dbcs.group_database_id = dbrs.group_database_id
			WHERE ISNULL(arstates.role, 3) = 2 AND ISNULL(dbcs.is_database_joined, 0) = 1)


	IF (SELECT CONVERT(VARCHAR(128), SERVERPROPERTY ('productversion'))) LIKE '13%'
		INSERT INTO scs.scs_ownerAudit (Name, CompatibilityLevel)
		SELECT name, compatibility_level FROM sys.databases WHERE compatibility_level < 130
	ELSE IF (SELECT CONVERT(VARCHAR(128), SERVERPROPERTY ('productversion'))) LIKE '12%'
		INSERT INTO scs.scs_ownerAudit (Name, CompatibilityLevel)
		SELECT name, compatibility_level FROM sys.databases WHERE compatibility_level < 120

	DELETE FROM scs.scs_ownerAudit WHERE name IN (SELECT database_name FROM scs.scs_vw_AGInfo WHERE is_primary_replica = 0)


	-- get scheduled job data ------------------------------------------------------
	SET @query = CAST((SELECT Name AS 'td', '', Owner AS 'td', '', Type AS 'td', '' FROM scs.scs_ownerAudit WHERE CompatibilityLevel IS NULL FOR XML PATH ('tr'), TYPE)AS NVARCHAR(MAX))

	SET @query2 = CAST((SELECT Name AS 'td', '', CompatibilityLevel AS 'td', '' FROM scs.scs_ownerAudit WHERE CompatibilityLevel IS NOT NULL FOR XML PATH ('tr'), TYPE)AS NVARCHAR(MAX))

	IF (SELECT COUNT(Name) FROM scs.scs_ownerAudit WHERE CompatibilityLevel IS NULL) > 0
	SET @results = (SELECT @query)

	IF (SELECT COUNT(Name) FROM scs.scs_ownerAudit WHERE CompatibilityLevel IS NOT NULL) > 0
	SET @results2 = (SELECT @query2)

	SET @body =	'<html>'
	
	IF (SELECT COUNT(Name) FROM scs.scs_ownerAudit WHERE CompatibilityLevel IS NULL) > 0	
	BEGIN
	SET @body = @body + '<H1><FONT color="blue"> Objects Not Owned By SA </FONT></H1>
                    <body bgcolor="white">
                           <table bgcolor=#CCFFCC border = 1>
                                 <tr bgcolor=#99FFCC>
                                 <th>Name</th>
                                 <th>Owner</th>
                                 <th>Type</th>
                                 </tr>' 
	END

	IF (SELECT COUNT(Name) FROM scs.scs_ownerAudit WHERE CompatibilityLevel IS NULL) > 0
	BEGIN	
		SET @body = @body + @results + '</table>'
	END

	IF (SELECT COUNT(Name) FROM scs.scs_ownerAudit WHERE CompatibilityLevel IS NOT NULL) > 0
	BEGIN
	SET @body = @body +'<H1><FONT color="blue"> Databases Not In 2014 Compatibility Mode </FONT></H1>
                           <table bgcolor=#CCFFCC border = 1>
                                 <tr bgcolor=#99FFCC>
                                 <th>Name</th>
                                 <th>CompatibilityLevel</th>
                                 </tr>' + @results2 + '</table>'
	END

	SET @body = @body + '</body></html>'
	


	IF (SELECT COUNT(Name) FROM scs.scs_ownerAudit) > 0
	BEGIN
		EXEC msdb.dbo.sp_send_dbmail  
			@profile_name = @Profile,  
			@recipients = 'it_dba@veteransunited.com',  
			@subject = 'Weekly SA/CompatibilityMode Audit',
			@body = @body,
			--@body = 'The following objects are not owned by SA:
			--',
			@execute_query_database = 'DBAdmin',
			--@query = 'SELECT Name, Owner, Type FROM scs.scs_ownerAudit WHERE CompatibilityLevel IS NULL',
			@body_format ='HTML'
		--PRINT 'SEND EMAIL'
	END

	TRUNCATE TABLE scs.scs_ownerAudit
END








GO


