USE [DBAdmin]
GO
/****** Object:  StoredProcedure [scs].[scs_RestoreDBFromIsilon]    Script Date: 2/17/2017 2:40:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [scs].[scs_RestoreDBFromIsilon] @OriginDBName sysname, 
	@OriginServer sysname = NULL,
	@OriginInstance sysname = NULL,
	@DestinationDBName sysname = NULL,
	@ScriptYN VARCHAR(1) = 'Y',
	@ExecuteYN VARCHAR(1) = 'N'

AS
BEGIN
	SET NOCOUNT ON

	-- 1 - Variable declaration 
	DECLARE @RootBackupPath NVARCHAR(500) = 'C:\SQLBackups\'
	DECLARE @BackupPath NVARCHAR(500)
	DECLARE @cmd NVARCHAR(4000) 
	DECLARE @fileList TABLE (backupFile NVARCHAR(255)) 
	DECLARE @lastFullBackup NVARCHAR(500) 
	DECLARE @lastDiffBackup NVARCHAR(500) 
	DECLARE @backupFile NVARCHAR(500) 
	DECLARE @XPCmdShellStatus BIT
	DECLARE @DefaultDataPath NVARCHAR(500) = CAST(SERVERPROPERTY('InstanceDefaultDataPath') AS NVARCHAR(500))
	DECLARE @DefaultLogPath NVARCHAR(500) = CAST(SERVERPROPERTY('InstanceDefaultLogPath') AS NVARCHAR(500))

	-- 2 - Check XP Command Shell Status and Turn on XP Command Shell
	SET @XPCmdShellStatus = (SELECT CONVERT(INT, ISNULL(value, value_in_use)) AS config_value
	FROM  sys.configurations
	WHERE  name = 'xp_cmdshell')

	EXEC sp_configure 'xp_cmdshell', 1;
	RECONFIGURE;

	---- 3 - Initialize Backup Path for Full Backups
	IF @DestinationDBName IS NULL
		SET @DestinationDBName = @OriginDBName
	IF @OriginServer IS NULL
		SET @OriginServer = CAST(SERVERPROPERTY('MachineName') AS sysname)
	IF @OriginInstance IS NULL
		SET @OriginInstance = CAST(SERVERPROPERTY('InstanceName') AS sysname)
	SET @BackupPath = @RootBackupPath + @OriginServer + '\' + @OriginInstance + '\' + @OriginDBName + '\FULL'

	-- 4 - get list of files 
	SET @cmd = 'DIR /b ' + @BackupPath 

	INSERT INTO @fileList(backupFile) 
	EXEC master.sys.xp_cmdshell @cmd 

	-- 5 - Find latest full backup 
	SELECT @lastFullBackup = MAX(backupFile)  
	FROM @fileList  
	WHERE backupFile LIKE '%.bak'  
	   --AND backupFile LIKE @OriginDBName + '%' 
	
	IF (EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE ('[' + name + ']' = @DestinationDBName OR name = @DestinationDBName)))
	BEGIN
	SET @cmd = 'ALTER DATABASE ' + @DestinationDBName + ' SET SINGLE_USER WITH ROLLBACK IMMEDIATE'
	IF @ScriptYN = 'Y'
		PRINT @cmd 
	IF @ExecuteYN = 'Y'
		EXEC sp_executesql @cmd
	END

	SET @cmd = 'RESTORE DATABASE ' + @DestinationDBName + ' FROM DISK = ''' + @BackupPath + '\' + @lastFullBackup + ''' WITH  FILE = 1, MOVE N' + char(39) +  + @OriginDBName +  + char(39) + ' TO N' + char(39) + @DefaultDataPath + @DestinationDBName + '.mdf' + char(39) + ',  MOVE N' + char(39) +  + @OriginDBName + '_log' + char(39) + ' TO N' + char(39) + @DefaultLogPath + @DestinationDBName + '.ldf' + char(39) + ',   NOUNLOAD,  REPLACE,  STATS = 5, NORECOVERY'
	IF @ScriptYN = 'Y'
		PRINT @cmd 
	IF @ExecuteYN = 'Y'
		EXEC sp_executesql @cmd

	---- 6 - Re-Initialize Backup Path for Differential Backups
	SET @BackupPath = @RootBackupPath + @OriginServer + '\' + @OriginInstance + '\' + @OriginDBName + '\DIFF'

	-- 7 - get list of Differntial Backup files 
	SET @cmd = 'DIR /b ' + @BackupPath 
	DELETE FROM @fileList

	INSERT INTO @fileList(backupFile) 
	EXEC master.sys.xp_cmdshell @cmd 

	-- 8 - Find latest diff backup 
	SELECT @lastDiffBackup = MAX(backupFile)  
	FROM @fileList  
	WHERE backupFile LIKE '%_DIFF%'  
	   --AND backupFile LIKE @dbName + '%' 
	   --AND backupFile > @lastFullBackup
	   --AND RIGHT(backupFile,19) >= RIGHT(@lastFullBackup,19)

	-- check to make sure there is a diff backup 
	IF @lastDiffBackup IS NOT NULL 
	BEGIN 
	   SET @cmd = 'RESTORE DATABASE ' + @DestinationDBName + ' FROM DISK = '''  
		   + @BackupPath + '\' + @lastDiffBackup + ''' WITH NORECOVERY' 
		IF @ScriptYN = 'Y'
			PRINT @cmd 
		IF @ExecuteYN = 'Y'
			EXEC sp_executesql @cmd
	   SET @lastFullBackup = @lastDiffBackup 
	END 

	---- 9 - Re-Initialize Backup Path for Differential Backups
	SET @BackupPath = @RootBackupPath + @OriginServer + '\' + @OriginInstance + '\' + @OriginDBName + '\LOG'

	-- 10 - get list of Log Backup files 
	SET @cmd = 'DIR /b ' + @BackupPath 
	DELETE FROM @fileList

	INSERT INTO @fileList(backupFile) 
	EXEC master.sys.xp_cmdshell @cmd 

	-- 11 - check for log backups 
	DECLARE backupFiles CURSOR FOR  

	   SELECT backupFile
	   FROM @fileList 
	   WHERE backupFile LIKE '%.TRN'  
	   --AND backupFile LIKE @dbName + '%' 
	   --AND RIGHT(backupFile,19) >= RIGHT(@lastFullBackup,19)
	   ORDER BY backupFile

	OPEN backupFiles  

	-- Loop through all the files for the database  
	FETCH NEXT FROM backupFiles INTO @backupFile  

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
	   SET @cmd = 'RESTORE LOG ' + @DestinationDBName + ' FROM DISK = '''  
		   + @BackupPath + '\' + @backupFile + ''' WITH NORECOVERY' 
		IF @ScriptYN = 'Y'
			PRINT @cmd 
		IF @ExecuteYN = 'Y'
			EXEC sp_executesql @cmd
	   FETCH NEXT FROM backupFiles INTO @backupFile  
	END 

	CLOSE backupFiles  
	DEALLOCATE backupFiles  

	-- 12 - put database in a useable state 
	SET @cmd = 'RESTORE DATABASE ' + @DestinationDBName + ' WITH RECOVERY
ALTER DATABASE ' + @DestinationDBName + ' SET MULTI_USER' 
	IF @ScriptYN = 'Y'
		PRINT @cmd 
	IF @ExecuteYN = 'Y'
		EXEC sp_executesql @cmd

	-- 13 - Turn XP Command Shell off if it was off to begin with
	IF @XPCmdShellStatus = '0'
		EXEC sp_configure 'xp_cmdshell', 0;
		RECONFIGURE;
END






GO
