USE [DBAdmin]
GO
/****** Object:  StoredProcedure [scs].[scs_SA_Exceptions_Add]    Script Date: 2/17/2017 2:40:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [scs].[scs_SA_Exceptions_Add] (
@USER_NAME AS sysname

)
AS 

BEGIN
IF @USER_NAME IS NULL
BEGIN
   PRINT '@USER_NAME cannot be NULL'
   RETURN
END
IF (SELECT COUNT(*) FROM dbadmin.scs.scs_SA_Exceptions WHERE USER_NAME = @USER_NAME) = 0
BEGIN
INSERT INTO DBAdmin.[scs].[scs_SA_Exceptions] (USER_NAME) VALUES (@USER_NAME)
END
ELSE 
PRINT @USER_NAME + ' User already in scs_SA_Exceptions Table'
RETURN
END
GO
