USE [DBAdmin]
GO
/****** Object:  StoredProcedure [scs].[scs_SecurityAudit]    Script Date: 2/17/2017 2:40:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [scs].[scs_SecurityAudit]
	-- Add the parameters for the stored procedure here
	@InstanceLevel CHAR(1) = 'Y',
	@DatabaseLevel CHAR(1) = 'Y',
	@ObjectLevel CHAR(1) = 'Y'
AS
BEGIN
	SET NOCOUNT ON;

	
IF @InstanceLevel = 'Y'
BEGIN
	--INSTANCE LEVEL PERMISSIONS
	SELECT
	r.name as [Permission], p.name AS [Name] ,r.type_desc,r.is_disabled,r.create_date , r.modify_date,r.default_database_name
	FROM
	sys.server_principals r
	INNER JOIN sys.server_role_members m ON r.principal_id = m.role_principal_id
	INNER JOIN sys.server_principals p ON
	p.principal_id = m.member_principal_id
	--WHERE r.type = 'R' and r.name = N'sysadmin'
	ORDER BY Permission, type_desc, Name
END


IF @DatabaseLevel = 'Y'
BEGIN
--DATABASE LEVEL PERMISSIONS
DECLARE @DB_USers TABLE
(DBName sysname, UserName sysname, LoginType sysname, AssociatedRole varchar(max),create_date datetime,modify_date datetime)

INSERT @DB_USers

EXEC sp_MSforeachdb
'
use [?]
SELECT ''?'' AS DB_Name,
case prin.name when ''dbo'' then prin.name + '' (''+ (select SUSER_SNAME(owner_sid) from master.sys.databases where name =''?'') + '')'' else prin.name end AS UserName,
prin.type_desc AS LoginType,
isnull(USER_NAME(mem.role_principal_id),'''') AS AssociatedRole ,create_date,modify_date
FROM sys.database_principals prin
LEFT OUTER JOIN sys.database_role_members mem ON prin.principal_id=mem.member_principal_id
WHERE prin.sid IS NOT NULL and prin.sid NOT IN (0x00) and
prin.is_fixed_role <> 1 AND prin.name NOT LIKE ''##%'''

SELECT
DBName,UserName ,LoginType ,create_date ,modify_date ,
STUFF((SELECT ',' + CONVERT(VARCHAR(500),AssociatedRole)
FROM @DB_USers user2
WHERE user1.DBName=user2.DBName AND user1.UserName=user2.UserName AND user2.LoginType <> 'DATABASE_ROLE' AND user2.LoginType <> 'CERTIFICATE_MAPPED_USER'
FOR XML PATH('')),1,1,'') AS Permissions_user
FROM @DB_USers user1
WHERE user1.LoginType <> 'DATABASE_ROLE' AND user1.LoginType <> 'CERTIFICATE_MAPPED_USER'
GROUP BY DBName,UserName ,LoginType ,create_date ,modify_date
ORDER BY DBName,UserName
END


IF @ObjectLevel = 'Y'
BEGIN
--OBJECT LEVEL PERMISSIONS
DECLARE @Objects TABLE
(DBName sysname, UserName sysname, Object sysname, Permission VARCHAR(MAX), State NVARCHAR(MAX))

INSERT @Objects

EXEC sp_MSforeachdb N'USE [?]
SELECT DB_NAME() AS DBName, Us.name AS username, Obj.name AS object, dp.permission_name AS permission, dp.state_desc  
FROM sys.database_permissions dp 
JOIN sys.sysusers Us  
ON dp.grantee_principal_id = Us.uid  
JOIN sys.sysobjects Obj 
ON dp.major_id = Obj.id 
WHERE Us.name <> ''PUBLIC'' AND Us.status > 0'

SELECT * FROM @Objects
END

END





GO
