USE [DBAdmin]
GO
/****** Object:  Table [ola].[QueueDatabase]    Script Date: 4/18/2026 2:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ola].[QueueDatabase](
	[QueueID] [int] NOT NULL,
	[DatabaseName] [sysname] NOT NULL,
	[DatabaseOrder] [int] NULL,
	[DatabaseStartTime] [datetime2](7) NULL,
	[DatabaseEndTime] [datetime2](7) NULL,
	[SessionID] [smallint] NULL,
	[RequestID] [int] NULL,
	[RequestStartTime] [datetime] NULL,
 CONSTRAINT [PK_QueueDatabase] PRIMARY KEY CLUSTERED 
(
	[QueueID] ASC,
	[DatabaseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ola].[QueueDatabase]  WITH CHECK ADD  CONSTRAINT [FK_QueueDatabase_Queue] FOREIGN KEY([QueueID])
REFERENCES [ola].[Queue] ([QueueID])
GO
ALTER TABLE [ola].[QueueDatabase] CHECK CONSTRAINT [FK_QueueDatabase_Queue]
GO
