USE [DBAdmin]
GO
/****** Object:  Table [scs].[AuditDBLogin]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [scs].[AuditDBLogin](
	[ServerName] [nvarchar](128) NULL,
	[LoginName] [sysname] NOT NULL,
	[LoginType] [varchar](13) NOT NULL,
	[DatabaseName] [nvarchar](128) NULL,
	[SelectAccess] [int] NULL,
	[InsertAccess] [int] NULL,
	[UpdateAccess] [int] NULL,
	[DeleteAccess] [int] NULL,
	[DBOAccess] [int] NULL,
	[SysadminAccess] [int] NULL,
	[AuditDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [scs].[AuditDBLogin] ADD  DEFAULT (getdate()) FOR [AuditDate]
GO
