USE [DBAdmin]
GO
/****** Object:  Table [scs].[INDEXTEMP]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [scs].[INDEXTEMP](
	[databasename] [sysname] NOT NULL,
	[TABLENAME] [sysname] NOT NULL,
	[INDEXNAME] [sysname] NULL,
	[avg_frag_in_percent] [decimal](5, 3) NULL,
	[page_count] [bigint] NULL,
	[fill_factor] [bigint] NULL,
	[runtime] [datetime] NULL
) ON [PRIMARY]

GO
