USE [DBAdmin]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [scs].[scs_CheckAgentJobHistory] 
	@JobName NVARCHAR(50) = ''
AS
BEGIN

	SET NOCOUNT ON;

SELECT name AS [Job Name]
         ,CONVERT(VARCHAR,DATEADD(S,(run_time/10000)*60*60 /* hours */  
          +((run_time - (run_time/10000) * 10000)/100) * 60 /* mins */  
          + (run_time - (run_time/100) * 100)  /* secs */
           ,CONVERT(DATETIME,RTRIM(run_date),113)),100) AS [Time Run]
         ,CASE WHEN enabled=1 THEN 'Enabled'  
               ELSE 'Disabled'  
          END [Job Status]
         ,CASE WHEN SJH.run_status=0 THEN 'Failed'
                     WHEN SJH.run_status=1 THEN 'Succeeded'
                     WHEN SJH.run_status=2 THEN 'Retry'
                     WHEN SJH.run_status=3 THEN 'Cancelled'
               ELSE 'Unknown'  
          END [Job Outcome],
run_duration/10000 Hours, --hours
 run_duration/100%100 Minutes, --minutes
 run_duration%100 Seconds --seconds
FROM   msdb.dbo.sysjobhistory SJH  
JOIN   msdb.dbo.sysjobs SJ  
ON     SJH.job_id=SJ.job_id 
--WHERE  step_id=0  
--AND    DATEADD(S,  
--  (run_time/10000)*60*60 /* hours */  
--  +((run_time - (run_time/10000) * 10000)/100) * 60 /* mins */  
--  + (run_time - (run_time/100) * 100)  /* secs */,  
--  CONVERT(DATETIME,RTRIM(run_date),113)) >= DATEADD(d,-1,GetDate())  
WHERE SJ.name LIKE '%' + @JobName + '%'
ORDER BY name, Hours, Minutes, Seconds

END




GO
