USE [DBAdmin]
GO
/****** Object:  StoredProcedure [scs].[scs_DriveSpaceAudit]    Script Date: 2/17/2017 2:40:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [scs].[scs_DriveSpaceAudit] AS
SELECT DISTINCT 
dovs.volume_mount_point AS Drive,
CONVERT(INT,dovs.available_bytes/1048576.0) AS FreeSpaceInMB,
CONVERT(INT,dovs.total_bytes/1048576.0) AS TotalSpaceInMB,
CONVERT(INT,dovs.available_bytes/1073709711.36) AS FreeSpaceInGB,
CONVERT(INT,dovs.total_bytes/1073709711.36) AS TotalSpaceInGB,
CAST((SELECT ((dovs.available_bytes/1048576* 1.0)/(dovs.total_bytes/1048576* 1.0) *100)) AS DECIMAL(4,2)) AS PercentFree,
GETDATE() AS TimeStamp
FROM sys.master_files mf
CROSS APPLY sys.dm_os_volume_stats(mf.database_id, mf.FILE_ID) dovs
ORDER BY FreeSpaceInMB ASC




GO
