USE [DBAdmin]
GO

/****** Object:  StoredProcedure [scs].[scs_Failover_AG]    Script Date: 7/3/2017 9:29:17 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[scs].[scs_Failover_AG]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [scs].[scs_Failover_AG] AS' 
END
GO



ALTER PROCEDURE [scs].[scs_Failover_AG]
	 @AGName NVARCHAR(MAX) =  NULL,
	 @scs_FORCE CHAR(1) = 'N',
	 @scs_EXECUTE CHAR(1) = 'N',
	 @scs_SENDEMAIL CHAR(1) = 'Y'
AS 
BEGIN 
DECLARE @SQL as nvarchar(max)
DECLARE @SQLinsertcommandlog as nvarchar(max)
DECLARE @SQLupdatecommandlog as nvarchar(max)
DECLARE @ErrorMessage NVARCHAR(4000);
DECLARE @ErrorSeverity INT;
DECLARE @ErrorState INT;
DECLARE @count int;
DECLARE @MSG NVARCHAR(MAX)
DECLARE @SUBJECT NVARCHAR(MAX)
DECLARE @html NVARCHAR(MAX)
DECLARE @profile varchar(100)
DECLARE @QUERY VARCHAR(4000)
DECLARE @FAILOVERSTART DATETIME
DECLARE @RUNUSER SYSNAME
DECLARE @NumFailedOver int


DECLARE @AGNameRun NVARCHAR(MAX)
SET @AGNameRun = @AGName
 

SET NOCOUNT ON

	CREATE TABLE #TempList
	(
		tblAGName sysname NULL
	)



IF @AGNameRun IS NOT NULL
BEGIN
	DECLARE @tmpAGName varchar(max)
	DECLARE @Pos int

	SET @AGNameRun = LTRIM(RTRIM(@AGNameRun))+ ','
	SET @Pos = CHARINDEX(',', @AGNameRun, 1)

	IF REPLACE(@AGNameRun, ',', '') <> ''
	BEGIN
		WHILE @Pos > 0
		BEGIN
			SET @tmpAGName = LTRIM(RTRIM(LEFT(@AGNameRun, @Pos - 1)))
			IF @tmpAGName <> ''
			BEGIN
				INSERT INTO #TempList (tblAGName) VALUES (CAST(@tmpAGName AS SYSNAME)) --Use Appropriate conversion
			END
			SET @AGNameRun = RIGHT(@AGNameRun, LEN(@AGNameRun) - @Pos)
			SET @Pos = CHARINDEX(',', @AGNameRun, 1)

		END
	END		
END
ELSE 
BEGIN
INSERT INTO #TempList SELECT DISTINCT(ag_NAME) FROM dbadmin.scs.scs_vw_aginfo
END



SET @profile = (select @@servername)
SET @count = 0
SET @FAILOVERSTART = GETDATE()
SET @RUNUSER = (SELECT DBAdmin.scs.scs_fn_getuser())
IF @scs_EXECUTE = 'N'
   BEGIN 
   PRINT 'Print only.  Commands will not exectue. To execute the command set @scs_EXECUTE - ''Y'''
   END
IF OBJECT_ID('tempdb..##TEMPAGTABLE') IS NOT NULL
    DROP TABLE ##TEMPAGTABLE
CREATE TABLE ##TEMPAGTABLE 
( 
	AGNAME SYSNAME
    ,failover_mode int
) 

IF OBJECT_ID('tempdb..##TEMPERROR') IS NOT NULL
    DROP TABLE ##TEMPERROR
CREATE TABLE ##TEMPERROR 
( 
	AGNAME SYSNAME
	,ErrorMessage NVARCHAR(4000)
	,ErrorSeverity INT
	,ErrorState INT
) 

SET @SQL = 'INSERT INTO ##TEMPAGTABLE SELECT DISTINCT(ag_NAME), failover_mode from dbadmin.scs.scs_vw_aginfo
		where failover_mode = 0'
		
IF @scs_FORCE = 'Y'
	BEGIN 
	SET @SQL = @SQL + ' or failover_mode = 1'	
	END

	EXEC (@SQL)
		DECLARE @databases TABLE
       (
              rowID INT IDENTITY(1,1)
			  ,AG_NAME SYSNAME
			  ,failover_mode int
              ,command NVARCHAR(MAX)
			  
       )


       INSERT INTO @databases
       SELECT 
	      a.AGNAME
		  ,a.failover_mode
		  ,CASE a.failover_mode
		  WHEN 0 THEN 'USE MASTER; ALTER AVAILABILITY GROUP [' + AGNAME + '] FAILOVER'
		  WHEN 1 THEN 'USE MASTER; ALTER AVAILABILITY GROUP [' + AGNAME + '] force_failover_allow_data_loss'
		  END
		FROM ##TEMPAGTABLE a
		JOIN #TempList b ON a.AGNAME = b.tblAGName
 
       DECLARE @databasesCounter INT
       DECLARE @maxRowID_LSJobs INT
       DECLARE @Command NVARCHAR(MAX)
	   SELECT @maxRowID_LSJobs = MAX(rowID) 
       FROM @databases

       SET @databasesCounter = 1
	   SET @NumFailedOver = 0
       WHILE @databasesCounter <= @maxRowID_LSJobs
              BEGIN
                     SELECT @Command = command
					        ,@AGName = AG_NAME
                     FROM @databases
                     WHERE rowID = @databasesCounter
					 SET @SQLinsertcommandlog = 'INSERT INTO dbadmin.scs.scs_CommandLog (AGName, ObjectType, Command , CommandType ,StartTime ,EndTime ,ErrorState ,ErrorMessage,RunUser)
					 VALUES  ( ''' + @AGName + ''', ''AG'', ''' + @Command + ''', ''AG_FAILOVER'', GETDATE(), ''1753-01-01 00:00:00.000'',0 ,N'''',''' + @RUNUSER + ''')'
					 SET @SQLupdatecommandlog = 'UPDATE dbadmin.scs.scs_CommandLog SET EndTime = GETDATE() WHERE AGName = ''' + @AGName + ''' AND COMMANDTYPE = ''AG_FAILOVER'' AND ENDTIME = ''1753-01-01 00:00:00.000'''
					 BEGIN TRY 
					 IF @scs_EXECUTE = 'Y' 
					 BEGIN
					    
						EXECUTE sp_executesql @SQLinsertcommandlog
						EXECUTE sp_executesql @Command
						EXECUTE sp_executesql @SQLupdatecommandlog
						SET @NumFailedOver = @NumFailedOver + 1
					 END
					 PRINT @SQLinsertcommandlog
                     PRINT @Command
					 PRINT @SQLupdatecommandlog
                     END TRY
					 BEGIN CATCH
								---------------------------------
								--Raise an error so the Agent job will fail
								--------------------------------------------
								SELECT 
								@ErrorMessage = ERROR_MESSAGE(),
								@ErrorSeverity = ERROR_SEVERITY(),
								@ErrorState = ERROR_STATE();
								PRINT @ErrorMessage
								PRINT @ErrorSeverity
								PRINT @ErrorState
								UPDATE dbadmin.scs.scs_CommandLog 
									SET EndTime = GETDATE(), 
									ErrorSeverity = @ErrorSeverity,
									ErrorState = @ErrorState, 
									ErrorMessage = @ErrorMessage 
								WHERE AGName = @AGName AND COMMANDTYPE = 'AG_FAILOVER' AND ENDTIME = '1753-01-01 00:00:00.000'
								----------------------------
								
								SET @count = @count + 1		
								
								END CATCH
                     SET @databasesCounter = @databasesCounter + 1
              END



IF @count > 0 
BEGIN
SET @MSG = @RUNUSER + ' ATTEMPTED A FAILOVER AND PRODUCTED ERRORS'
SET @SUBJECT = 'AG FAILOVER ERRORS'
SET @QUERY = 'SELECT * FROM dbadmin.scs.scs_commandlog where starttime > ''' + CONVERT(VARCHAR(25),@FAILOVERSTART,120) + ''' AND ErrorState IS NOT NULL'
END
ELSE
BEGIN 
SET @MSG = @RUNUSER + ' SUCCESSFULLY INITIATED A FAILOVER '
SET @SUBJECT = 'AG FAILOVER'
END
SET @QUERY = 'SELECT AGName as AGName, 
				RunUser as RunUser, 
				Command as command, 
				StartTime as StartTime, 
				EndTime EndTime, 
				ErrorSeverity as ErrorSeverity,
				ErrorState,
				Substring(ErrorMessage,1,250) as ErrorMessage  FROM dbadmin.scs.scs_commandlog where starttime > ''' + CONVERT(VARCHAR(25),@FAILOVERSTART,120) + ''' AND ErrorState IS NOT NULL'

IF @NumFailedOver < 1 AND @count < 1
BEGIN
SET @MSG = 'AG''''s listed were not able to be failed over. Please check Synchronous setting'
SET @QUERY = 'SELECT tblAGName as AGName from #TempList as AG_Name'
END

IF @scs_SENDEMAIL = 'Y'
BEGIN
EXEC dbadmin.scs.scs_spQueryToHtmlTable @html = @html OUTPUT, @count = @count OUTPUT, @msg = @MSG, @query = @QUERY
EXEC msdb.dbo.sp_send_dbmail
    @profile_name = @profile,
    @recipients = 'dba@vu.com',
    @subject = @SUBJECT,
    @body = @html,
    @body_format = 'HTML',
    @query_no_truncate = 1,
    @attach_query_result_as_file = 0;
END
DROP TABLE ##TEMPAGTABLE
END




GO


