USE [DBAdmin]
GO
/****** Object:  StoredProcedure [scs].[scs_InstanceInfo]    Script Date: 2/17/2017 2:40:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [scs].[scs_InstanceInfo]
AS
SELECT @@SERVERNAME AS 'Server\Instance', SERVERPROPERTY ('Edition') AS Edition, SERVERPROPERTY ('ProductVersion') AS VERSION, SERVERPROPERTY ('ProductLevel') AS LEVEL,
cpu_count AS 'Number of CPU', (SELECT value_in_use FROM sys.configurations WHERE name = 'max degree of parallelism') AS MAXDOP, (SELECT value_in_use FROM sys.configurations WHERE name = 'cost threshold for parallelism') AS 'Cost Threshold for Parallelism', (SELECT value_in_use FROM sys.configurations WHERE name = 'max server memory (MB)') AS 'Max Memory',
(SELECT value_in_use FROM sys.configurations WHERE name = 'min server memory (MB)') AS 'Min Memory',
CASE
	WHEN  (SELECT value_in_use FROM sys.configurations WHERE name = 'xp_cmdshell') = 1 THEN 'YES'
	WHEN  (SELECT value_in_use FROM sys.configurations WHERE name = 'xp_cmdshell') = 0 THEN 'NO'
END AS XP_CmdShell,
SERVERPROPERTY ('Collation') AS 'DEFAULT COLLATION'
FROM sys.dm_os_sys_info




GO
