USE [DBAdmin]
GO
/****** Object:  Table [scs].[scs_SA_Exceptions]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [scs].[scs_SA_Exceptions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [sysname] NOT NULL,
	[starttimestamp] [datetime] NULL
) ON [PRIMARY]

GO
ALTER TABLE [scs].[scs_SA_Exceptions] ADD  DEFAULT (getdate()) FOR [starttimestamp]
GO
