USE [DBAdmin]
GO
/****** Object:  StoredProcedure [scs].[scs_spQueryToHtmlTable]    Script Date: 2/17/2017 2:40:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- Description: Turns a query into a formatted HTML table. Useful for emails. 
-- Any ORDER BY clause needs to be passed in the separate ORDER BY parameter.
-- =============================================
CREATE PROC [scs].[scs_spQueryToHtmlTable] 
(
  @query nvarchar(MAX), --A query to turn into HTML format. It should not include an ORDER BY clause.
  @MSG nvarchar(max) = NULL, --the body of the message before we send the message
  @orderBy nvarchar(MAX) = NULL, --An optional ORDER BY clause. It should contain the words 'ORDER BY'.
  @html nvarchar(MAX) = NULL OUTPUT, --The HTML output of the procedure.
  @count int = NULL OUTPUT
  
)
AS
BEGIN   
  SET NOCOUNT ON;

  IF @orderBy IS NULL BEGIN
    SET @orderBy = ''  
  END

  SET @orderBy = REPLACE(@orderBy, '''', '''''');

  DECLARE @realQuery nvarchar(MAX) = '
    DECLARE @headerRow nvarchar(MAX);
    DECLARE @cols nvarchar(MAX);    

    SELECT * INTO #dynSql FROM (' + @query + ') sub;
	set @count = (Select count(*) from #dynSql)
    SELECT @cols = COALESCE(@cols + '', '''''''', '', '''') + ''['' + name + ''] AS ''''td''''''
    FROM tempdb.sys.columns 
    WHERE object_id = object_id(''tempdb..#dynSql'')
    ORDER BY column_id;

    SET @cols = ''SET @html = CAST(( SELECT '' + @cols + '' FROM #dynSql ' + @orderBy + ' FOR XML PATH(''''tr''''), ELEMENTS XSINIL) AS nvarchar(max))''    
    EXEC sys.sp_executesql @cols, N''@html nvarchar(MAX) OUTPUT'', @html=@html OUTPUT

    SELECT @headerRow = COALESCE(@headerRow + '''', '''') + ''<th>'' + name + ''</th>'' 
    FROM tempdb.sys.columns 
    WHERE object_id = object_id(''tempdb..#dynSql'')
    ORDER BY column_id;

    SET @headerRow = ''<tr>'' + @headerRow + ''</tr>'';
	
	    ';

IF @MSG IS NULL
   BEGIN
   set @realQuery = @realQuery +     'SET @html = ''<table border="1">'' + @headerRow + @html + ''</table>''; '   
  END
ELSE
  begin
   set @realQuery = @realQuery + '    SET @html = ''<HTML><H1><FONT color="Black">' + @MSG + '</FONT></H1><table border="1">'' + @headerRow + @html + ''</table></html>'';'
 
  end 
   EXEC sys.sp_executesql @realQuery, N'@html nvarchar(MAX) OUTPUT, @count INT OUTPUT', @html=@html OUTPUT, @count=@count OUTPUT
end
return 0

GO
