USE [DBAdmin]
GO

/****** Object:  View [scs].[scs_vw_AGInfo]    Script Date: 12/6/2017 11:08:14 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [scs].[scs_vw_AGInfo]
AS

SELECT
AG.name  AS ag_name,
dbcs.database_name AS [database_name],
aglst.dns_name AS listner,
dbcs.is_failover_ready AS failoverready,
arstates.synchronization_health,
arstates.synchronization_health_desc,
dbrs.is_primary_replica,
AG.automated_backup_preference,
AG.automated_backup_preference_desc,
AR.replica_server_name,
arstates.role,
arstates.role_desc,
ISNULL(agstates.primary_replica, '') AS [PrimaryReplicaServerName],
ISNULL(arstates.role, 3) AS [LocalReplicaRole],
ISNULL(dbrs.synchronization_state, 0) AS [SynchronizationState],
ISNULL(dbrs.is_suspended, 0) AS [IsSuspended],
ISNULL(dbcs.is_database_joined, 0) AS [IsJoined]
,AR.failover_mode
,AR.failover_mode_desc
FROM master.sys.availability_groups AS AG
LEFT OUTER JOIN master.sys.dm_hadr_availability_group_states AS agstates
   ON AG.group_id = agstates.group_id
INNER JOIN master.sys.availability_replicas AS AR
   ON AG.group_id = AR.group_id
INNER JOIN master.sys.dm_hadr_availability_replica_states AS arstates
   ON AR.replica_id = arstates.replica_id AND arstates.is_local = 1
INNER JOIN master.sys.dm_hadr_database_replica_cluster_states AS dbcs
   ON arstates.replica_id = dbcs.replica_id
LEFT OUTER JOIN  master.sys.dm_hadr_database_replica_states AS dbrs
   ON dbcs.replica_id = dbrs.replica_id AND dbcs.group_database_id = dbrs.group_database_id
LEFT OUTER JOIN master.sys.availability_group_listeners AS aglst ON AG.group_id = aglst.group_id

UNION

SELECT AG.name  AS ag_name,
NULL AS [database_name],
null AS listner,
NULL AS failoverready,
arstates.synchronization_health,
arstates.synchronization_health_desc,
NULL,
AG.automated_backup_preference,
AG.automated_backup_preference_desc,
AR.replica_server_name,
arstates.role,
arstates.role_desc,
ISNULL(agstates.primary_replica, '') AS [PrimaryReplicaServerName],
ISNULL(arstates.role, 3) AS [LocalReplicaRole],
ISNULL(dbrs.synchronization_state, 0) AS [SynchronizationState],
ISNULL(dbrs.is_suspended, 0) AS [IsSuspended],
NULL AS [IsJoined]
,AR.failover_mode
,AR.failover_mode_desc
 FROM master.sys.availability_groups AG
LEFT OUTER JOIN master.sys.dm_hadr_availability_group_states AS agstates
   ON AG.group_id = agstates.group_id
   INNER JOIN master.sys.availability_replicas AS AR
   ON AG.group_id = AR.group_id
   INNER JOIN master.sys.dm_hadr_availability_replica_states AS arstates
      ON AR.replica_id = arstates.replica_id AND arstates.is_local = 1
   LEFT OUTER JOIN  master.sys.dm_hadr_database_replica_states  AS dbrs
    ON ag.group_id =  dbrs.group_id
WHERE ag.is_distributed = 1





GO


