USE [DBAdmin]
GO
CREATE VIEW [scs].[scs_vw_DBInfo]
AS
SELECT CONVERT(VARCHAR(25), DB.name) AS dbName,
	CONVERT(VARCHAR(10), DATABASEPROPERTYEX(db.name, 'status')) AS [Status],
	(SELECT COUNT(1) FROM sys.master_files WHERE DB_NAME(database_id) = DB.name AND type_desc = 'rows') AS DataFiles,
	(SELECT COUNT(1) FROM sys.master_files WHERE DB_NAME(database_id) = DB.name AND type_desc = 'log') AS LogFiles,
	(SELECT SUM((size*8)/1024) FROM sys.master_files WHERE DB_NAME(database_id) = DB.name AND type_desc = 'rows') AS [Data MB],
	(SELECT SUM((size*8)/1024) FROM sys.master_files WHERE DB_NAME(database_id) = DB.name AND type_desc = 'log') AS [Log MB],
	recovery_model_desc AS [Recovery model],
	CONVERT(VARCHAR(20), create_date, 103) + ' ' + CONVERT(VARCHAR(20), create_date, 108) AS [Creation date],
	GETDATE() AS 'Date Data Collected',
	availability_groups.name as [AG_Name],
	dm_hadr_availability_replica_states.role as  AG_Role, 
    dm_hadr_availability_replica_states.role_desc as AG_Role_Desc,
    UPPER(availability_groups.automated_backup_preference_desc)	as AG_BU_Pref
	FROM sys.databases DB
	LEFT JOIN sys.availability_databases_cluster availability_databases_cluster ON db.group_database_id = availability_databases_cluster.group_database_id
    LEFT JOIN sys.availability_groups availability_groups ON availability_databases_cluster.group_id = availability_groups.group_id
    LEFT JOIN sys.dm_hadr_availability_replica_states dm_hadr_availability_replica_states ON availability_groups.group_id = dm_hadr_availability_replica_states.group_id AND db.replica_id = dm_hadr_availability_replica_states.replica_id

GO