USE [DBAdmin]
GO
/****** Object:  View [scs].[scs_vw_VU_User_DBs]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  CREATE view [scs].[scs_vw_VU_User_DBs]
  as
		SELECT a.name, 
		       a.dbid,
			   a.crdate,
			   b.name as Owner
			 FROM sys.sysdatabases a 
			 LEFT JOIN sys.syslogins b ON a.sid = b.sid
			 WHERE a.dbid > 4 AND a.name <> 'DBAdmin' AND a.name <> 'ReportServerTempDB'

GO
