USE [DBAdmin]
GO
/****** Object:  View [scs].[scs_vw_scs_DriveSpaceAudit]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [scs].[scs_vw_scs_DriveSpaceAudit] as
SELECT 
DISTINCT LogicalName
				, FreeSpaceInMB
				, TotalSpaceInMB
				, TotalSpaceInGB
				,PercentFree
				, GETDATE() AS TimeStamp 

				FROM DBAdmin.scs.scs_vw_DriveSpaceAuditWithDBs

GO
