
USE [DBAdmin]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE name = 'scs_SQLBackupOptions' AND type = 'U')
BEGIN
DROP TABLE bak.scs_SQLBackupOptions
END
/****** Object:  Table [bak].[scs_SQLBackupOptions]    Script Date: 6/6/2018 2:51:47 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [bak].[scs_SQLBackupOptions](
	[SQLBackupOptionsID] [bigint] IDENTITY(1,1) NOT NULL,
	[Databases] [nvarchar](max) NULL,
	[Directory] [nvarchar](max) NULL,
	[BackupType] [nvarchar](max) NULL,
	[Verify] [nvarchar](max) NULL,
	[CleanupTime] [int] NULL,
	[CleanupMode] [nvarchar](max) NULL,
	[Compress] [nvarchar](max) NULL,
	[CopyOnly] [nvarchar](max) NULL,
	[ChangeBackupType] [nvarchar](max) NULL,
	[BackupSoftware] [nvarchar](max) NULL,
	[CheckSum] [nvarchar](max) NULL,
	[BlockSize] [int] NULL,
	[BufferCount] [int] NULL,
	[MaxTransferSize] [int] NULL,
	[NumberOfFiles] [int] NULL,
	[CompressionLevel] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Threads] [int] NULL,
	[Throttle] [int] NULL,
	[Encrypt] [nvarchar](max) NULL,
	[EncryptionAlgorithm] [nvarchar](max) NULL,
	[ServerCertificate] [nvarchar](max) NULL,
	[ServerAsymmetricKey] [nvarchar](max) NULL,
	[EncryptionKey] [nvarchar](max) NULL,
	[ReadWriteFileGroups] [nvarchar](max) NULL,
	[OverrideBackupPreference] [nvarchar](max) NULL,
	[NoRecovery] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[Credential] [nvarchar](max) NULL,
	[MirrorDirectory] [nvarchar](max) NULL,
	[MirrorCleanupTime] [int] NULL,
	[MirrorCleanupMode] [nvarchar](max) NULL,
	[AvailabilityGroups] [nvarchar](max) NULL,
	[Updateability] [nvarchar](max) NULL,
	[AdaptiveCompression] [nvarchar](max) NULL,
	[ModificationLevel] [int] NULL,
	[LogSizeSinceLastLogBackup] [int] NULL,
	[TimeSinceLastLogBackup] [int] NULL,
	[DataDomainBoostHost] [nvarchar](max) NULL,
	[DataDomainBoostUser] [nvarchar](max) NULL,
	[DataDomainBoostDevicePath] [nvarchar](max) NULL,
	[DataDomainBoostLockboxPath] [nvarchar](max) NULL,
	[DirectoryStructure] [nvarchar](max) NULL,
	[AvailabilityGroupDirectoryStructure] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[AvailabilityGroupFileName] [nvarchar](max) NULL,
	[FileExtensionFull] [nvarchar](max) NULL,
	[FileExtensionDiff] [nvarchar](max) NULL,
	[FileExtensionLog] [nvarchar](max) NULL,
	[LogToTable] [nvarchar](max) NULL,
	[Execute] [nvarchar](max) NULL,
	[starttimestamp] [datetime] NULL,
	[stoptimestamp] [datetime] NULL,
 CONSTRAINT [PK_SQLBackupOptions] PRIMARY KEY CLUSTERED 
(
	[SQLBackupOptionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_Verify]  DEFAULT ('N') FOR [Verify]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_CleanupTime]  DEFAULT ((336)) FOR [CleanupTime]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_CleanupMode]  DEFAULT ('AFTER_BACKUP') FOR [CleanupMode]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_CopyOnly]  DEFAULT ('N') FOR [CopyOnly]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_ChangeBackupType]  DEFAULT ('Y') FOR [ChangeBackupType]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_CheckSum]  DEFAULT ('N') FOR [CheckSum]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_Encrypt]  DEFAULT ('N') FOR [Encrypt]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_ReadWriteFileGroups]  DEFAULT ('N') FOR [ReadWriteFileGroups]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_OverrideBackupPreference]  DEFAULT ('N') FOR [OverrideBackupPreference]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_NoRecovery]  DEFAULT ('N') FOR [NoRecovery]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_MirrorCleanupMode]  DEFAULT ('AFTER_BACKUP') FOR [MirrorCleanupMode]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupPtions_Updateability]  DEFAULT ('ALL') FOR [Updateability]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupPtions_DirectoryStructure]  DEFAULT ('{DirectorySeparator}{BackupType}_{Partial}_{CopyOnly}') FOR [DirectoryStructure]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupPtions_AvailabilityGroupDirectoryStructure]  DEFAULT ('{DirectorySeparator}{BackupType}_{Partial}_{CopyOnly}') FOR [AvailabilityGroupDirectoryStructure]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupPtions_FileName]  DEFAULT ('{ServerName}${InstanceName}_{DatabaseName}_{BackupType}_{Partial}_{CopyOnly}_{Year}{Month}{Day}_{Hour}{Minute}{Second}_{FileNumber}.{FileExtension}') FOR [FileName]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupPtions_AvailabilityGroupFileName]  DEFAULT ('{ServerName}${InstanceName}_{DatabaseName}_{BackupType}_{Partial}_{CopyOnly}_{Year}{Month}{Day}_{Hour}{Minute}{Second}_{FileNumber}.{FileExtension}') FOR [AvailabilityGroupFileName]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_LogToTable]  DEFAULT ('N') FOR [LogToTable]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_Execute]  DEFAULT ('Y') FOR [Execute]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_starttimestamp]  DEFAULT (GETDATE()) FOR [starttimestamp]
GO

ALTER TABLE [bak].[scs_SQLBackupOptions] ADD  CONSTRAINT [DF_scs_SQLBackupOptions_stoptimestamp]  DEFAULT ('1753-01-01 00:00:00.000') FOR [stoptimestamp]
GO

