USE [DBAdmin]
GO
/****** Object:  Table [bak].[scs_DBBackupConfig]    Script Date: 2/17/2017 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bak].[scs_DBBackupConfig](
	[DBName] [nvarchar](50) NOT NULL,
	[Directory] [nvarchar](250) NOT NULL,
	[CleanupTimeInHours] [int] NOT NULL,
	[Compression] [nchar](1) NOT NULL,
	[CompressionLevel] [int] NULL
) ON [PRIMARY]

GO
