USE [DBAdmin]
GO

/****** Object:  StoredProcedure [bak].[scs_RunBackups]    Script Date: 8/30/2018 8:37:59 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO






/*********************************************************************************************
bak.SCS_RUNBackups

Driver stored procedure that will call Ola Hallengren.  This stored procedure that will take
in the same as parms for Ola Hallengren

Usage examples:

exec dbadmin.dbo.scs_RunBackups6 @databases = 'USER_DATABASES', @backupType = 'FULL', @Execute = 'N', @LogToTable = 'Y'



CHANGE LOG:

*********************************************************************************************/





CREATE PROCEDURE [bak].[scs_RunBackups]
	--ola parms 
	@Databases NVARCHAR(MAX) = NULL,
	@Directory NVARCHAR(MAX) = NULL,
	@BackupType NVARCHAR(MAX),
	@Verify NVARCHAR(MAX) = 'N',
	@CleanupTime INT = NULL,
	@CleanupMode NVARCHAR(MAX) = 'AFTER_BACKUP',
	@Compress NVARCHAR(MAX) = NULL,
	@CopyOnly NVARCHAR(MAX) = 'N',
	@ChangeBackupType NVARCHAR(MAX) = 'N',
	@BackupSoftware NVARCHAR(MAX) = NULL,
	@CheckSum NVARCHAR(MAX) = 'N',
	@BlockSize INT = NULL,
	@BufferCount INT = NULL,
	@MaxTransferSize INT = NULL,
	@NumberOfFiles INT = NULL,
	@CompressionLevel INT = NULL,
	@Description NVARCHAR(MAX) = NULL,
	@Threads INT = NULL,
	@Throttle INT = NULL,
	@Encrypt NVARCHAR(MAX) = 'N',
	@EncryptionAlgorithm NVARCHAR(MAX) = NULL,
	@ServerCertificate NVARCHAR(MAX) = NULL,
	@ServerAsymmetricKey NVARCHAR(MAX) = NULL,
	@EncryptionKey NVARCHAR(MAX) = NULL,
	@ReadWriteFileGroups NVARCHAR(MAX) = 'N',
	@OverrideBackupPreference NVARCHAR(MAX) = 'N',
	@NoRecovery NVARCHAR(MAX) = 'N',
	@URL NVARCHAR(MAX) = NULL,
	@Credential NVARCHAR(MAX) = NULL,
	@MirrorDirectory NVARCHAR(MAX) = NULL,
	@MirrorCleanupTime INT = NULL,
	@MirrorCleanupMode NVARCHAR(MAX) = 'AFTER_BACKUP',
	@AvailabilityGroups NVARCHAR(MAX) = NULL,
	@Updateability NVARCHAR(MAX) = 'ALL',
	@AdaptiveCompression NVARCHAR(MAX) = NULL,
	@ModificationLevel INT = NULL,
	@LogSizeSinceLastLogBackup INT = NULL,
	@TimeSinceLastLogBackup INT = NULL,
	@DataDomainBoostHost NVARCHAR(MAX) = NULL,
	@DataDomainBoostUser NVARCHAR(MAX) = NULL,
	@DataDomainBoostDevicePath NVARCHAR(MAX) = NULL,
	@DataDomainBoostLockboxPath NVARCHAR(MAX) = NULL,
	@DirectoryStructure NVARCHAR(MAX) = '{DirectorySeparator}{BackupType}_{Partial}_{CopyOnly}',
	@AvailabilityGroupDirectoryStructure NVARCHAR(MAX) = '{DirectorySeparator}{BackupType}_{Partial}_{CopyOnly}',
	@FileName NVARCHAR(MAX) = '{ServerName}${InstanceName}_{DatabaseName}_{BackupType}_{Partial}_{CopyOnly}_{Year}{Month}{Day}_{Hour}{Minute}{Second}_{FileNumber}.{FileExtension}',
	@AvailabilityGroupFileName NVARCHAR(MAX) = '{ClusterName}${AvailabilityGroupName}_{DatabaseName}_{BackupType}_{Partial}_{CopyOnly}_{Year}{Month}{Day}_{Hour}{Minute}{Second}_{FileNumber}.{FileExtension}',
	@FileExtensionFull NVARCHAR(MAX) = 'bak',
	@FileExtensionDiff NVARCHAR(MAX) = 'dif',
	@FileExtensionLog NVARCHAR(MAX) = 'trn',

	@LogToTable NVARCHAR(MAX) = 'Y',
	@Execute NVARCHAR(MAX) = 'Y',
	--SCS PARMS
	@scs_SystemDBs AS NVARCHAR(MAX) = 0
AS
BEGIN

	SET NOCOUNT ON;
--//Working Variables//
--//Variables//

--//


DECLARE @Error INT = 0
DECLARE @ErrorMessage nvarchar(max)
DECLARE @ExcludedDatabases nvarchar(MAX)
DECLARE @LoopCounter INT






DECLARE @SelectedDatabases TABLE 
(	
	ID int IDENTITY,
	DatabaseName nvarchar(max),
	DatabaseType nvarchar(max),
	Selected bit,
	ExcludedSelected BIT
)


DECLARE @tmpDatabases TABLE 
(	
	ID int IDENTITY,
	DatabaseName nvarchar(max),
	DatabaseNameFS nvarchar(max),
	DatabaseType nvarchar(max),
	Selected bit,
	Completed bit,
	PRIMARY KEY(Selected, Completed, ID)
)


DECLARE @holdDatabases TABLE 
(	
	ID int IDENTITY,
	DatabaseName nvarchar(max),
	--DatabaseNameFS nvarchar(max),
	--DatabaseType nvarchar(max),
	Selected bit,
	PRIMARY KEY(Selected, ID)
)
--RUN Variables 
DECLARE @RunDatabases AS NVARCHAR(MAX) = NULL
DECLARE @RunDirectory NVARCHAR(MAX) = NULL
DECLARE @RunBackupType NVARCHAR(MAX) = NULL
DECLARE @RunVerify NVARCHAR(MAX) = NULL
DECLARE @RunCleanupTime INT = NULL
DECLARE @RunCleanupMode NVARCHAR(MAX) = NULL
DECLARE @RunCompress NVARCHAR(MAX) = NULL
DECLARE @RunCopyOnly NVARCHAR(MAX) = NULL
DECLARE @RunChangeBackupType NVARCHAR(MAX) = NULL
DECLARE @RunBackupSoftware NVARCHAR(MAX) = NULL
DECLARE @RunCheckSum NVARCHAR(MAX) = NULL
DECLARE @RunBlockSize INT = NULL
DECLARE @RunBufferCount INT = NULL
DECLARE @RunMaxTransferSize INT = NULL
DECLARE @RunNumberOfFiles INT = NULL
DECLARE @RunCompressionLevel INT = NULL
DECLARE @RunDescription NVARCHAR(MAX) = NULL
DECLARE @RunThreads INT = NULL
DECLARE @RunThrottle INT = NULL
DECLARE @RunEncrypt NVARCHAR(MAX) = NULL
DECLARE @RunEncryptionAlgorithm NVARCHAR(MAX) = NULL
DECLARE @RunServerCertificate NVARCHAR(MAX) = NULL
DECLARE @RunServerAsymmetricKey NVARCHAR(MAX) = NULL
DECLARE @RunEncryptionKey NVARCHAR(MAX) = NULL
DECLARE @RunReadWriteFileGroups NVARCHAR(MAX) = NULL
DECLARE @RunOverrideBackupPreference NVARCHAR(MAX) = NULL
DECLARE @RunNoRecovery NVARCHAR(MAX) = NULL
DECLARE @RunURL NVARCHAR(MAX) = NULL
DECLARE @RunCredential NVARCHAR(MAX) = NULL
DECLARE @RunMirrorDirectory NVARCHAR(MAX) = NULL
DECLARE @RunMirrorCleanupTime INT = NULL
DECLARE @RunMirrorCleanupMode NVARCHAR(MAX) = NULL
DECLARE @RunAvailabilityGroups nvarchar(max) = NULL
DECLARE @RunUpdateability nvarchar(max) = NULL
DECLARE @RunAdaptiveCompression nvarchar(max) = NULL
DECLARE @RunModificationLevel int = NULL
DECLARE @RunLogSizeSinceLastLogBackup int = NULL
DECLARE @RunTimeSinceLastLogBackup int = NULL
DECLARE @RunDataDomainBoostHost nvarchar(max) = NULL
DECLARE @RunDataDomainBoostUser nvarchar(max) = NULL
DECLARE @RunDataDomainBoostDevicePath nvarchar(max) = NULL
DECLARE @RunDataDomainBoostLockboxPath nvarchar(max) = NULL
DECLARE @RunDirectoryStructure nvarchar(max) = NULL
DECLARE @RunAvailabilityGroupDirectoryStructure nvarchar(max) = NULL
DECLARE @RunFileName nvarchar(max) = NULL
DECLARE @RunAvailabilityGroupFileName nvarchar(max) = NULL
DECLARE @RunFileExtensionFull nvarchar(max) = NULL
DECLARE @RunFileExtensionDiff nvarchar(max) = NULL
DECLARE @RunFileExtensionLog nvarchar(max) = NULL

DECLARE @RunLogToTable NVARCHAR(MAX) = NULL
DECLARE @RunExecute NVARCHAR(MAX) = NULL
DECLARE @RunCount INT = 0
DECLARE @RunDBCount INT = 0
DECLARE @RunDBMax INT = 0
  
  ----------------------------------------------------------------------------------------------------
  --// Select databases                                                                            //--
  --// Source: https://ola.hallengren.com  Borrowed from Ola Hallengren DatabaseBackup Stored Proc //--
  /* Using Ola Hallengren's logic as we are calling OLA Directly.  This should ensure that we are 
     passing the correct the parms to Ola's Backup Script
  */
  ----------------------------------------------------------------------------------------------------
  
if @Execute = 'N'
BEGIN
	print 'Execution is Suppressed, Backlup will not run'
END

SET @Databases = REPLACE(@Databases, ', ', ',');

WITH Databases1 (StartPosition, EndPosition, DatabaseItem) AS
(
	SELECT 
		1 AS StartPosition,
		ISNULL(NULLIF(CHARINDEX(',', @Databases, 1), 0), LEN(@Databases) + 1) AS EndPosition,
		SUBSTRING(@Databases, 1, ISNULL(NULLIF(CHARINDEX(',', @Databases, 1), 0), LEN(@Databases) + 1) - 1) AS DatabaseItem
	WHERE @Databases IS NOT null
	
	UNION all
	
	SELECT 
		CAST(EndPosition AS int) + 1 AS StartPosition,
		ISNULL(NULLIF(CHARINDEX(',', @Databases, EndPosition + 1), 0), LEN(@Databases) + 1) AS EndPosition,
		SUBSTRING(@Databases, EndPosition + 1, ISNULL(NULLIF(CHARINDEX(',', @Databases, EndPosition + 1), 0), LEN(@Databases) + 1) - EndPosition - 1) AS DatabaseItem
	FROM Databases1
	WHERE EndPosition < LEN(@Databases) + 1
),

Databases2 (DatabaseItem, Selected) AS
(
	SELECT 
		case WHEN DatabaseItem LIKE '-%' THEN RIGHT(DatabaseItem,LEN(DatabaseItem) - 1) 
			else DatabaseItem 
		end AS DatabaseItem,
	CASE WHEN DatabaseItem LIKE '-%' THEN 0 ELSE 1 END AS Selected
	FROM Databases1
),

Databases3 (DatabaseItem, DatabaseType, Selected) AS
(
	SELECT 
		case WHEN DatabaseItem IN('ALL_DATABASES','SYSTEM_DATABASES','USER_DATABASES') THEN '%' 
			else DatabaseItem 
		end AS DatabaseItem,
		CASE WHEN DatabaseItem = 'SYSTEM_DATABASES' THEN 'S' 
			when DatabaseItem = 'USER_DATABASES' THEN 'U' 
			else NULL END AS DatabaseType,
		Selected
	FROM Databases2
),

Databases4 (DatabaseName, DatabaseType, Selected) AS
(
	SELECT 
		case WHEN LEFT(DatabaseItem,1) = '[' AND RIGHT(DatabaseItem,1) = ']' THEN PARSENAME(DatabaseItem,1) 
			else DatabaseItem 
		end AS DatabaseItem,
		DatabaseType,
		Selected
	FROM Databases3
)


INSERT INTO @SelectedDatabases 
(
	DatabaseName, 
	DatabaseType, 
	Selected
)
SELECT 
	DatabaseName,
	DatabaseType,
	Selected
FROM Databases4
OPTION (MAXRECURSION 0)


INSERT INTO @tmpDatabases 
(
	DatabaseName, 
	DatabaseNameFS, 
	DatabaseType, 
	Selected, 
	Completed
)
SELECT 
	[name] AS DatabaseName,
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE([name],'\',''),'/',''),':',''),'*',''),'?',''),'"',''),'<',''),'>',''),'|',''),' ','') AS DatabaseNameFS,
	CASE WHEN name IN('master','msdb','model','distribution') THEN 'S' 
		else 'U' 
	end AS DatabaseType,
	0 AS Selected,
	0 AS Completed
FROM sys.databases
WHERE [name] <> 'tempdb'
	and source_database_id IS NULL
ORDER BY [name] ASC


UPDATE tmpDatabases
SET tmpDatabases.Selected = SelectedDatabases.Selected
FROM @tmpDatabases as tmpDatabases
	INNER JOIN @SelectedDatabases as SelectedDatabases
		on tmpDatabases.DatabaseName LIKE REPLACE(SelectedDatabases.DatabaseName,'_','[_]')
			and 
			(
				tmpDatabases.DatabaseType = SelectedDatabases.DatabaseType 
					or SelectedDatabases.DatabaseType IS null
			)
WHERE SelectedDatabases.Selected = 1


UPDATE tmpDatabases
SET tmpDatabases.Selected = SelectedDatabases.Selected
FROM @tmpDatabases as tmpDatabases
	INNER JOIN @SelectedDatabases as SelectedDatabases
		on tmpDatabases.DatabaseName LIKE REPLACE(SelectedDatabases.DatabaseName,'_','[_]')
			and 
			(
				tmpDatabases.DatabaseType = SelectedDatabases.DatabaseType 
					or SelectedDatabases.DatabaseType IS null
			)
WHERE SelectedDatabases.Selected = 0

IF @Databases IS NULL 
	or NOT exists (SELECT * FROM @SelectedDatabases) 
	or exists (SELECT * FROM @SelectedDatabases WHERE DatabaseName IS NULL OR DatabaseName = '')
BEGIN
	SET @ErrorMessage = 'The value for the parameter @Databases is not supported.' + CHAR(13) + CHAR(10) + ' '
	RAISERROR(@ErrorMessage,16,1) WITH NOWAIT
	SET @Error = @@ERROR
	PRINT @ErrorMessage
END


  ----------------------------------------------------------------------------------------------------
  --// Check database names                                                                        //--
  --// Source: https://ola.hallengren.com  Borrowed from Ola Hallengren DatabaseBackup Stored Proc //--
  ----------------------------------------------------------------------------------------------------


SET @ErrorMessage = ''

SELECT @ErrorMessage = @ErrorMessage + QUOTENAME(DatabaseName) + ', '
FROM @tmpDatabases
WHERE Selected = 1
	and DatabaseNameFS = ''
ORDER BY DatabaseName asc


IF @@ROWCOUNT > 0
BEGIN
	SET @ErrorMessage = 'The names of the following databases are not supported: ' + LEFT(@ErrorMessage,LEN(@ErrorMessage)-1) + '.' + CHAR(13) + CHAR(10) + ' '
	RAISERROR(@ErrorMessage,16,1) WITH NOWAIT
	SET @Error = @@ERROR
	PRINT @ErrorMessage
END

SET @ErrorMessage = ''

SELECT @ErrorMessage = @ErrorMessage + QUOTENAME(DatabaseName) + ', '
FROM @tmpDatabases
WHERE UPPER(DatabaseNameFS) in
(
	select 
		UPPER(DatabaseNameFS) 
	from @tmpDatabases 
	group BY UPPER(DatabaseNameFS) 
	having COUNT(*) > 1
)
	AND UPPER(DatabaseNameFS) in
	(
		select 
			UPPER(DatabaseNameFS) 
		from @tmpDatabases 
		where Selected = 1
	)
	AND DatabaseNameFS <> ''
ORDER BY DatabaseName ASC
OPTION (RECOMPILE)


IF @@ROWCOUNT > 0
BEGIN
	SET @ErrorMessage = 'The names of the following databases are not unique in the file system: ' + LEFT(@ErrorMessage,LEN(@ErrorMessage)-1) + '.' + CHAR(13) + CHAR(10) + ' '
	RAISERROR(@ErrorMessage,16,1) WITH NOWAIT
	SET @Error = @@ERROR
	PRINT @ErrorMessage
END


/*
This is the end of the checking and parsing of the "array" of databases that could come in.  
*/

/*
Starting the code that scs wrote.  
*/

INSERT INTO @holdDatabases (DatabaseName,Selected)

SELECT 
	DatabaseName
	,Selected 
	FROM @tmpDatabases AS tmp
	where Selected = 1
--UNION 
--SELECT 
--	DatabaseName
--	, Selected
-- FROM @SelectedDatabases WHERE DatabaseName <> '%'


SELECT 
	DatabaseName
	,DatabaseType
	,Selected 
	FROM @tmpDatabases AS tmp

SELECT *,   'hold_databases' FROM @holdDatabases
SELECT *, 'SelectedDatabases' FROM  @SelectedDatabases

SELECT COUNT(*) AS 'countholddb' FROM @holdDatabases WHERE Selected = 1
SELECT 
	DatabaseName
	,DatabaseType
	, Selected
 FROM @SelectedDatabases
	
	BEGIN
   SELECT @RunDBMax = COUNT(DatabaseName) FROM @holdDatabases WHERE Selected = 1
   SET @LoopCounter = 1

	/*
	Starting Looping though the databases to backup.  
	*/

	WHILE @LoopCounter <= @RunDBMax
	BEGIN
		SELECT @RunDatabases = DatabaseName 
		FROM @holdDatabases
		WHERE Selected = 1 
			and id = @loopcounter

       
		--Find active rows 
		SELECT @RunCount = COUNT(*) 
		FROM DBAdmin.bak.scs_SQLBackupOptions BU 
		WHERE @RunDatabases = BU.Databases 
			and BU.BackupType = @BackupType
			and BU.stoptimestamp = '1753-01-01 00:00:00.000'


		/*
		checks for existance for a row in the Backup options table.  If we do not have a entry, raise error.  
		*/
		IF @RunCount = 0
		BEGIN
			SET @ErrorMessage = 'We do not have an active row in : DBAdmin.bak.scs_SQLBackupOptions for Database: ' +  ISNULL(@RunDatabases,'NULL') + ' with backup type: ' + ISNULL(@BackupType,'NULL') + ' '
			RAISERROR(@ErrorMessage,16,1) WITH NOWAIT
			SET @Error = @@ERROR
			--PRINT @ErrorMessage
		END
		

		/*
		checks for existance for a row in sys.databases.  If we do not have a entry, raise error.  
		*/
		SELECT @RunDBCount = COUNT(*)  
		from sys.databases db 
		where db.NAME = @RunDatabases


		IF @RunDBCount = 0
		Begin
			SET @ErrorMessage = 'The Database does not exist or is online on This SQL Instance : ' +  ISNULL(@RunDatabases,'NULL') + ' '
			raiserror(@ErrorMessage,16,1) WITH NOWAIT
			SET @Error = @@ERROR
		END
		

		/*
		Selects the values for active role the bak.scs_SQLBackupOptions 
		*/
		IF @error = 0 
		BEGIN
			select 
				@RunDirectory							= BU.Directory
				,@RunVerify								= BU.Verify 
				,@RunCleanupTime						= BU.CleanupTime
				,@RunCleanupMode						= BU.CleanupMode
				,@RunCompress							= BU.Compress
				,@RunCopyOnly								= BU.CopyOnly
				,@RunChangeBackupType						= BU.ChangeBackupType
				,@RunBackupSoftware							= BU.BackupSoftware
				,@RunCheckSum								= BU.CheckSum
				,@RunBlockSize								= BU.BlockSize
				,@RunBufferCount							= BU.BufferCount
				,@RunMaxTransferSize						= BU.MaxTransferSize
				,@RunNumberOfFiles							= BU.NumberOfFiles
				,@RunCompressionLevel						= BU.CompressionLevel
				,@RunDescription							= BU.Description
				,@RunThreads								= BU.Threads
				,@RunThrottle								= BU.Throttle
				,@RunEncrypt								= BU.Encrypt
				,@RunEncryptionAlgorithm					= BU.EncryptionAlgorithm
				,@RunServerCertificate						= BU.ServerCertificate
				,@RunServerAsymmetricKey					= BU.ServerAsymmetricKey
				,@RunEncryptionKey							= BU.EncryptionKey
				,@RunReadWriteFileGroups					= BU.ReadWriteFileGroups
				,@RunOverrideBackupPreference				= BU.OverrideBackupPreference
				,@RunNoRecovery								= BU.NoRecovery
				,@RunURL									= BU.URL
				,@RunCredential								= BU.Credential
				,@RunMirrorDirectory						= BU.MirrorDirectory
				,@RunMirrorCleanupTime						= BU.MirrorCleanupTime
				,@RunMirrorCleanupMode						= BU.MirrorCleanupMode

				,@RunAvailabilityGroups						= BU.AvailabilityGroups
				,@RunUpdateability							= BU.Updateability
				,@RunAdaptiveCompression					= BU.AdaptiveCompression
				,@RunModificationLevel						= BU.ModificationLevel
				,@RunLogSizeSinceLastLogBackup				= BU.LogSizeSinceLastLogBackup
				,@RunTimeSinceLastLogBackup					= BU.TimeSinceLastLogBackup
				,@RunDataDomainBoostHost					= BU.DataDomainBoostHost
				,@RunDataDomainBoostUser					= BU.DataDomainBoostUser
				,@RunDataDomainBoostDevicePath				= BU.DataDomainBoostDevicePath
				,@RunDataDomainBoostLockboxPath				= BU.DataDomainBoostLockboxPath
				,@RunDirectoryStructure						= BU.DirectoryStructure
				,@RunAvailabilityGroupDirectoryStructure	= BU.AvailabilityGroupDirectoryStructure
				,@RunFileName								= BU.FileName
				,@RunAvailabilityGroupFileName				= BU.AvailabilityGroupFileName
				,@RunFileExtensionFull						= BU.FileExtensionFull
				,@RunFileExtensionDiff						= BU.FileExtensionDiff
				,@RunFileExtensionLog						= BU.FileExtensionLog


				,@RunLogToTable							= BU.LogToTable
				,@RunExecute							= BU.[Execute]
			from bak.scs_SQLBackupOptions BU 
			where @RunDatabases = BU.Databases 
				and BU.BackupType = @BackupType
				and BU.stoptimestamp = '1753-01-01 00:00:00.000'

			/*
			Selects the values for active role are different than what was passed in
			if they are different set the running value to be that from the parms
			*/

			IF @Directory								IS NOT NULL SET @RunDirectory							= @Directory
			IF @BackupType								IS NOT NULL SET @RunBackupType							= @BackupType
			IF @Verify									IS NOT NULL SET @RunVerify								= @Verify					
			IF @CleanupTime								IS NOT NULL SET @RunCleanupTime							= @CleanupTime
			IF @CleanupMode								IS NOT NULL SET @RunCleanupMode							= @CleanupMode
			IF @Compress								IS NOT NULL SET @RunCompress							= @Compress
			IF @CopyOnly								IS NOT NULL SET @RunCopyOnly							= @CopyOnly
			IF @ChangeBackupType						IS NOT NULL SET @RunChangeBackupType					= @ChangeBackupType
			IF @BackupSoftware							IS NOT NULL SET @RunBackupSoftware						= @BackupSoftware
			IF @CheckSum								IS NOT NULL SET @RunCheckSum							= @CheckSum
			IF @BlockSize								IS NOT NULL SET @RunBlockSize							= @BlockSize
			IF @BufferCount								IS NOT NULL SET @RunBufferCount							= @BufferCount
			IF @MaxTransferSize							IS NOT NULL SET @RunMaxTransferSize						= @MaxTransferSize
			IF @NumberOfFiles							IS NOT NULL SET @RunBackupSoftware						= @NumberOfFiles
			IF @CompressionLevel						IS NOT NULL SET @RunCompressionLevel					= @CompressionLevel
			IF @Description								IS NOT NULL SET @RunDescription							= @Description
			IF @Threads									IS NOT NULL SET @RunThreads								= @Threads
			IF @Throttle								IS NOT NULL SET @RunThrottle							= @Throttle
			IF @Encrypt									IS NOT NULL SET @RunEncrypt								= @Encrypt
			IF @EncryptionAlgorithm						IS NOT NULL SET @RunEncryptionAlgorithm    				= @EncryptionAlgorithm
			IF @ServerCertificate						IS NOT NULL SET @RunServerCertificate					= @ServerCertificate
			IF @ServerAsymmetricKey						IS NOT NULL SET @RunServerAsymmetricKey					= @ServerAsymmetricKey
			IF @EncryptionKey							IS NOT NULL SET @RunEncryptionKey						= @EncryptionKey
			IF @ReadWriteFileGroups						IS NOT NULL SET @RunReadWriteFileGroups					= @ReadWriteFileGroups
			IF @OverrideBackupPreference				IS NOT NULL SET @RunOverrideBackupPreference			= @OverrideBackupPreference
			IF @NoRecovery								IS NOT NULL SET @RunNoRecovery							= @NoRecovery
			IF @URL										IS NOT NULL SET @RunURL									= @URL
			IF @Credential								IS NOT NULL SET @RunCredential							= @Credential
			IF @MirrorDirectory							IS NOT NULL SET @RunMirrorDirectory						= @MirrorDirectory
			IF @MirrorCleanupTime						IS NOT NULL SET @RunMirrorCleanupTime					= @MirrorCleanupTime
			IF @MirrorCleanupMode						IS NOT NULL SET @RunMirrorCleanupMode					= @MirrorCleanupMode

			IF @AvailabilityGroups						IS NOT NULL SET @AvailabilityGroups						= @AvailabilityGroups
			IF @Updateability							IS NOT NULL SET @Updateability							= @Updateability
			IF @AdaptiveCompression						IS NOT NULL SET @AdaptiveCompression					= @AdaptiveCompression
			IF @ModificationLevel						IS NOT NULL SET @ModificationLevel						= @ModificationLevel
			IF @LogSizeSinceLastLogBackup				IS NOT NULL SET @LogSizeSinceLastLogBackup				= @LogSizeSinceLastLogBackup
			IF @TimeSinceLastLogBackup					IS NOT NULL SET @TimeSinceLastLogBackup					= @TimeSinceLastLogBackup
			IF @DataDomainBoostHost						IS NOT NULL SET @DataDomainBoostHost					= @DataDomainBoostHost
			IF @DataDomainBoostUser						IS NOT NULL SET @DataDomainBoostUser					= @DataDomainBoostUser
			IF @DataDomainBoostDevicePath				IS NOT NULL SET @DataDomainBoostDevicePath				= @DataDomainBoostDevicePath
			IF @DataDomainBoostLockboxPath				IS NOT NULL SET @DataDomainBoostLockboxPath				= @DataDomainBoostLockboxPath
			IF @DirectoryStructure						IS NOT NULL SET @DirectoryStructure						= @DirectoryStructure
			IF @AvailabilityGroupDirectoryStructure		IS NOT NULL SET @AvailabilityGroupDirectoryStructure	= @AvailabilityGroupDirectoryStructure
			IF @FileName								IS NOT NULL SET @FileName								= @FileName
			IF @AvailabilityGroupFileName				IS NOT NULL	SET @AvailabilityGroupFileName				= @AvailabilityGroupFileName
			IF @FileExtensionFull						IS NOT NULL SET @FileExtensionFull						= @FileExtensionFull
			IF @FileExtensionDiff						IS NOT NULL SET @FileExtensionDiff						= @FileExtensionDiff
			IF @FileExtensionLog						IS NOT NULL SET @FileExtensionLog						= @FileExtensionLog

			IF @LogToTable				 IS NOT NULL SET @RunLogToTable					= @LogToTable
			IF @Execute                  IS NOT NULL SET @RunExecute					= @Execute


			/*
			Print out the command that will be ran if the Execute flag is set to Y
			*/
			PRINT ' EXEC dbadmin.ola.DatabaseBackup' 
				+  '  @Databases = ' +  ISNULL(@RunDatabases,'NULL') 
				+ ', @RunDirectory = ' +  ISNULL(@RunDirectory,'NULL') 
				+ ', @RunBackupType= ' +  ISNULL(@RunBackupType,'NULL') 
				+ ', @RunVerify = ' +  ISNULL(@RunVerify,'NULL') 
				+ ', @RunCleanupTime = ' +  ISNULL(CONVERT(VARCHAR(MAX),@RunCleanupTime),'NULL') 
				+ ', @RunCleanupMode= ' +  ISNULL(@RunCleanupMode,'NULL') 
				+ ', @RunCompress = ' +  ISNULL(@RunCompress,'NULL') 
				+ ', @RunCopyOnly = ' +  ISNULL(@RunCopyOnly,'NULL') 
				+ ', @RunChangeBackupType= ' +  ISNULL(@RunChangeBackupType,'NULL') 
				+ ', @RunBackupSoftware = ' +  ISNULL(@RunBackupSoftware,'NULL') 
				+ ', @RunCheckSum = ' +  ISNULL(@RunCheckSum,'NULL') 
				+ ', @RunBlockSize = ' +  ISNULL(CONVERT(VARCHAR(MAX),@RunBlockSize),'NULL') 
				+ ', @RunBufferCount = ' +  ISNULL(CONVERT(VARCHAR(MAX),@RunBuffercount),'NULL') 
				+ ', @RunMaxTransferSize = ' +  ISNULL(CONVERT(VARCHAR(MAX),@RunMaxTransferSize),'NULL') 
				+ ', @RunNumberOfFiles = ' +  ISNULL(CONVERT(VARCHAR(MAX),@RunNumberOfFiles),'NULL') 
				+ ', @RunCompressionLevel = ' +  ISNULL(CONVERT(VARCHAR(4),@RunCompressionLevel),'NULL') 
				+ ', @RunDescription = ' +  ISNULL(@RunDescription,'NULL') 
				+ ', @RunThreads = ' +  ISNULL(CONVERT(VARCHAR(MAX),@RunThreads),'NULL') 
				+ ', @RunThrottle = ' +  ISNULL(CONVERT(VARCHAR(MAX),@RunThrottle),'NULL') 
				+ ', @RunEncrypt = ' +  ISNULL(@RunEncrypt,'NULL') 
				+ ', @RunEncryptionAlgorithm = ' +  ISNULL(@RunEncryptionAlgorithm,'NULL') 
				+ ', @RunServerCertificate = ' +  ISNULL(@RunServerCertificate,'NULL') 
				+ ', @RunServerAsymmetricKey = ' +  ISNULL(@RunServerAsymmetricKey,'NULL') 
				+ ', @RunEncryptionKey = ' +  ISNULL(@RunEncryptionKey,'NULL') 
				+ ', @RunReadWriteFileGroups = ' +  ISNULL(@RunReadWriteFileGroups,'NULL') 
				+ ', @RunOverrideBackupPreference = ' +  ISNULL(@RunOverrideBackupPreference,'NULL') 
				+ ', @RunNoRecovery = ' +  ISNULL(@RunNoRecovery,'NULL') 
				+ ', @RunURL = ' +  ISNULL(@RunURL,'NULL') 
				+ ', @RunCredential = ' +  ISNULL(@RunCredential,'NULL') 
				+ ', @RunMirrorDirectory = ' +  ISNULL(@RunMirrorDirectory,'NULL') 
				+ ', @RunMirrorCleanupTime = ' +  ISNULL(CONVERT(VARCHAR(MAX),@RunMirrorCleanupTime),'NULL') 
				+ ', @RunMirrorCleanupMode = ' +  ISNULL(@RunMirrorCleanupMode,'NULL') 
				+ ', '''  +  CHAR(13)  + char(10) +  ISNULL(@RunAvailabilityGroups,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunUpdateability,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunAdaptiveCompression,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(CONVERT(varchar(MAX),@RunModificationLevel),'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(CONVERT(varchar(MAX),@RunLogSizeSinceLastLogBackup),'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(CONVERT(varchar(MAX),@RunTimeSinceLastLogBackup),'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunDataDomainBoostHost,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunDataDomainBoostUser,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunDataDomainBoostDevicePath,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunDataDomainBoostLockboxPath,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunDirectoryStructure,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunAvailabilityGroupDirectoryStructure,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunFileName,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunAvailabilityGroupFileName,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunFileExtensionFull,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunFileExtensionDiff,'NULL') 
				+ '''' + char(13) + char(10) + ', '''   +  ISNULL(@RunFileExtensionLog,'NULL') 

				+ ', @RunLogToTable = ' +  ISNULL(@RunLogToTable,'NULL') 
				+ ', @RunExecute = ' +  ISNULL(@RunExecute,'NULL') 


				/*
				The command that will be ran if the Execute flag is set to True
				*/
				IF @Execute = 'Y' AND @Error = 0
				BEGIN 
					PRINT 'CALLING dbadmin.ola.DatabaseBackup'

					EXEC dbadmin.ola.DatabaseBackup   
						@Databases									= @RunDatabases
						,@Directory 								= @RunDirectory
						,@BackupType								= @RunBackupType
						,@Verify									= @RunVerify
						,@CleanupTime								= @RuncleanupTime
						,@CleanupMode								= @RunCleanupMode
						,@Compress									= @RunCompress
						,@CopyOnly									= @RunCopyOnly
						,@ChangeBackupType							= @RunChangeBackupType
						,@BackupSoftware							= @RunBackupSoftware
						,@CheckSum									= @RunCheckSum
						,@BlockSize									= @RunBlockSize
						,@BufferCount								= @RunBufferCount
						,@MaxTransferSize							= @RunMaxTransferSize
						,@NumberOfFiles								= @RunNumberOfFiles
						,@CompressionLevel							= @RunCompressionLevel
						,@Description								= @RunDescription
						,@Threads									= @RunThreads 
						,@Throttle									= @RunThrottle
						,@Encrypt									= @RunEncrypt 
						,@EncryptionAlgorithm						= @RunEncryptionAlgorithm
						,@ServerCertificate							= @RunServerCertificate
						,@ServerAsymmetricKey						= @RunServerAsymmetricKey 
						,@EncryptionKey								= @RunEncryptionKey
						,@ReadWriteFileGroups						= @RunReadWriteFileGroups
						,@OverrideBackupPreference					= @RunOverrideBackupPreference
						,@NoRecovery								= @RunNoRecovery
						,@URL										= @RunURL
						,@Credential								= @RunCredential
						,@MirrorDirectory							= @RunMirrorDirectory
						,@MirrorCleanupTime							= @RunMirrorCleanupTime
						,@MirrorCleanupMode							= @RunMirrorCleanupMode
						,@AvailabilityGroups						= @RunAvailabilityGroups
						,@Updateability								= @RunUpdateability
						,@AdaptiveCompression						= @RunAdaptiveCompression
						,@ModificationLevel							= @RunModificationLevel
						,@LogSizeSinceLastLogBackup					= @RunLogSizeSinceLastLogBackup
						,@TimeSinceLastLogBackup					= @RunTimeSinceLastLogBackup
						,@DataDomainBoostHost						= @RunDataDomainBoostHost
						,@DataDomainBoostUser						= @RunDataDomainBoostUser
						,@DataDomainBoostDevicePath					= @RunDataDomainBoostDevicePath
						,@DataDomainBoostLockboxPath				= @RunDataDomainBoostLockboxPath
						,@DirectoryStructure						= @RunDirectoryStructure
						,@AvailabilityGroupDirectoryStructure		= @RunAvailabilityGroupDirectoryStructure
						,@FileName									= @RunFileName
						,@AvailabilityGroupFileName					= @RunAvailabilityGroupFileName
						,@FileExtensionFull							= @RunFileExtensionFull
						,@FileExtensionDiff							= @RunFileExtensionDiff
						,@FileExtensionLog							= @RunFileExtensionLog
						,@LogToTable								= @RunLogToTable
						,@Execute  									= @RunExecute 
   
				END		
		END
				
		SET @LoopCounter = @LoopCounter + 1
	END

END

/*end of stored proc*/
END




GO


